[2014-02-20 20:24] mwcraig opened #1 "Fix modeling calls to match API in astropy 0.3"
Right now the test `test_subtract_overscan_model` fails on the call to `models.polynomial.Poly1DModel`

[2014-02-20 20:26] mwcraig opened #2 "Make PEP8 fixes"
These appear to be mostly minor whitespace fixes (e.g. spaces around `=` and after `,`) but there may be a couple of `camelCaseNames` that should be converted to `names_with_underscores`

[2014-02-20 20:28] mwcraig opened #3 "Standardize handling of tests in which exceptions are expected"
RIght now some of the tests use the usual (for pytest) way `with pytest.raises(...)` and some use a decorator `@raises(...)`

[2014-02-20 20:30] mwcraig opened #4 "Start setting up documentation..."
...with at least the correct package name and auto-generated API docs

[2014-02-20 20:32] mwcraig opened #5 "Get to 100% test coverage for modules that are specific to this affiliated package"
In other words, `ccdproc.ccdproc` and `cdproc.ccddata` for now. The other code that isn't covered largely comes from the astropy affiliate template.

[2014-02-20 20:32] mwcraig opened #6 "Set up ReadTheDocs"

[2014-02-20 20:32] mwcraig opened #7 "Set up travis builds"
Should test at least python 2.7, 3.3.

[2014-02-20 20:33] mwcraig opened #8 "Set up coveralls.io for test coverage badge"

[2014-03-01 03:04] mwcraig opened #14 "Add check to CCDData.create_variance for units of readnoise"
Right now the code checks whether the `CCDData` object has units of electrons, but not whether the `readnoise` is also in electrons

[2014-03-01 03:38] mwcraig opened #15 "Use astropy.units definitions of adu, electrons, etc where possible"
In the time since ccdproc was originally written the some of the units defined in `ccdproc.ccddata` have been defined in `astropy.units`

[2014-03-01 20:20] mwcraig opened #16 "subtract_overscan doesn't correctly test ccd type"

[2014-03-01 20:43] mwcraig opened #17 "Add test of cosmicray_clean gbox"
Not clear to me what the desired outcome is here -- @crawfordsm can you explain?

[2014-03-02 22:29] mwcraig opened #18 "Several of the functions in ccdproc.ccdproc do not actually return CCDData objects"
Not sure this is the end of the world, but they tend to return whatever type was passed in (e.g. a numpy array).

I'd lean towards ensuring that a `CCDData` object is returned.

[2014-03-06 09:59] #1 closed, assigned to nobody

[2014-03-07 02:07] #2 closed, assigned to nobody

[2014-03-15 19:38] #4 closed, assigned to nobody

[2014-03-20 01:35] #6 closed, assigned to nobody

[2014-03-20 03:08] #7 closed, assigned to nobody

[2014-03-20 03:12] #8 closed, assigned to nobody

[2014-03-20 23:19] #3 closed, assigned to nobody

[2014-03-20 23:40] #5 closed, assigned to nobody

[2014-03-20 23:40] #16 closed, assigned to nobody

[2014-04-07 16:54] mwcraig opened #32 "Change instances of header.set(key, value) to header[key] = value in tests"

[2014-04-07 17:23] mwcraig opened #33 "Make test_flat_correct check for something"
Right now it creates data and flat images then just does:

[code]

[2014-04-10 17:18] mwcraig opened #36 "Find out how to register a fits reader/writer in python 3...."
Travis builds on #35 are failing in python 3 ~~because the fits reader and the `meta` in `ccddata` use `iteritems`, which went away in python 3. `six` provides a workaround.~~

[2014-04-12 23:20] mwcraig opened #37 "Decide whether functions like subtract_bias allow CCDData or nddata as arguments"
The API and docstring imply CCDData only (which seems like the way to go) but the type check is currently `isinstance(ccd, CCDData) or isinstance(ccd, np.ndarray)`

[2014-04-22 15:57] #37 closed, assigned to nobody

[2014-04-22 15:59] #36 closed, assigned to nobody

[2014-04-22 16:01] #18 closed, assigned to nobody

[2014-04-22 16:56] mwcraig opened #38 "Propagate errors when doing scalar op CCDData"
Should be able to handle multiplication, division, addition, subtraction of a scalar without an error and a `CCDData` object, and pass through to the `NDData` methods `.add` etc if the `other` operand is not a `numbers.Number`.

[2014-04-22 17:09] mwcraig opened #39 "Change unit names to singular to match astropy convention"
This boils down to changing `electrons` to electron, I think...

[2014-04-23 21:05] #14 closed, assigned to nobody

[2014-04-23 21:05] #15 closed, assigned to nobody

[2014-04-23 21:05] #39 closed, assigned to nobody

[2014-04-25 15:26] mwcraig opened #41 "fits_section doesn't do any bounds checking"
At a minimum it should check for a zero index on input and refuse to decrease it to -1. Perhaps it should also check for negative index as the stop and disallow that too.

[2014-04-27 00:46] mwcraig opened #42 "create_variance makes an uncertainty which is a Quantity"
This is a problem because `NDDData` doesn't function correctly with `Quantity` arrays. One of the issues this creates is that the unit of the uncertainty can be completely different (and inconsistent with) the unit of the `CCDData.data`.

[2014-04-27 01:10] #42 closed, assigned to mwcraig

[2014-04-28 14:56] mwcraig opened #45 "Fix sphinx build warnings"
These are generated because `automodapi` tries to generate docs for things we import -- one fix is to set `__all__` to something sensible in each module.

[code]

[2014-04-29 17:54] #38 closed, assigned to nobody

[2014-04-30 02:06] #41 closed, assigned to nobody

[2014-05-06 16:34] mwcraig opened #49 "Implement non-linear gain correct"

[2014-05-06 16:34] mwcraig opened #50 "Implement cross-talk correction"

[2014-05-06 18:11] crawfordsm opened #51 "extract unit from image header"
If units are specified in the image header, the fits_ccddata_reader should be able to extract the units from the header and they should not need to be explicitly stated in the header.

[2014-05-06 18:17] crawfordsm opened #52 "Writing out mask, flags, uncertainty information"
For now any flag, mask and/or unit for ccddata is discarded when writing. If you want all or some of that information preserved you must create the FITS files manually.

It would be good to be able to write out that information as well.

[2014-05-06 18:42] crawfordsm opened #53 "checking size of array before trimming"
In ccdproc.trim_image, there is no checking to see if the requested section is within the boundaries of the image.   This seems to be the same behaviour as ndarray.

Should we keep this behavior or add some check to make sure that the trimmed area is within the give ccddata object?

[2014-05-06 19:05] crawfordsm opened #54 "synonyms in Keyword"
synonyms has not been implement in keyword.

[2014-05-06 19:09] crawfordsm opened #55 "minvalue in flat_correct"
minvalue in flat_correct has not been implemented

[2014-05-06 19:11] crawfordsm opened #56 "fringe correction"
fringe correction is likely a convenience function (as it is either a flat_image or a scaled subtraction) and so not necessary to implement right away.  It is also something that will be telescope dependent.

[2014-05-06 19:14] crawfordsm opened #57 "background in cosmicray_median"
Docs should be updated and an error test should be added that background in cosmicray_median should be specified

[2014-05-06 19:22] crawfordsm opened #58 "Add cosmicray_lapace"
Add cosmic ray cleaning following LA-cosmic:
http://arxiv.org/abs/astro-ph/0108003

[2014-05-06 19:24] crawfordsm opened #59 "ccdproc.distortion_correct"
Apply distortion corrections by either updating the WCS or transform the frame.  Basic functionality will probably be included in ccdproc.transform and more advance WCS handling will require the WCS class.

[2014-05-06 19:47] crawfordsm opened #60 "rejection algorithms"
Should the clipping algorithms be moved out of combiner and into there own class/functions ?

[2014-05-06 19:49] crawfordsm opened #61 "scaling in combiner"
Implement some scaling in combiner

[2014-05-06 19:49] crawfordsm opened #62 "weighting in combiner"
Add calculating the weighting to combiner or provide other functions for doing it

[2014-05-06 19:54] crawfordsm opened #63 "Fitting models with rejection"
Fitting models with rejecting points is a need for the ccdproc package, for example in fitting the overscan region.    However, this is probably something that astropy.modeling will eventually take care of, but in the meantime, we should supply something.

[2014-05-06 20:00] crawfordsm opened #64 "basic arithmetic"
Having things like
[code]
working.  At the current time, basic arithmetic with CCDData can be done using .add for example.   However, implementing the above, if ever, will require changes to NDData and Quantity.

[2014-05-06 20:01] crawfordsm opened #65 "ccdproc.combine"
Convenience function and wrapper for combiner

[2014-05-06 20:02] crawfordsm opened #66 "ccdproc.rebin"
Function for rebinning ccddata data.  It should handle rebinning mask and uncertainty frames as well.

[2014-05-06 20:02] crawfordsm opened #67 "ccdproc.transform"
ccdproc tasks for transforming data.  This should be able to handle general transformations such as shift, rotation, and magnification.

[2014-05-06 20:17] crawfordsm opened #68 "logging with no add_keywords"
Logging does not seem to behave as expected in the api.   In the api, we suggest that the  if add_keyword is not specified, the task name and parameters should be added to meta, but that does not seem like the case right now.

[2014-05-08 21:24] mwcraig opened #70 "subtract_oscan assumes overscan is always the second axis"
e.g.:

[code]

Working on a fix...

[2014-05-12 16:07] mwcraig opened #73 "sigma_clip should allow clipping along stack only"
In some cases (e.g. creating a master dark) there pixels which are, in any individual image or the set of images being combined, several standard deviations from the mean or median. In the case of combining to make a master dark these are hot pixels, and should not be masked in sigma_clip.

The clipping should exclude those pixels which vary by more than a few standard deviations from the mean of

[2014-05-12 16:35] mwcraig opened #74 "masked median_combine is excruciatingly slow"
This is a known issue, though with no solution in `numpy`: numpy/numpy#4683

By "excruciating" I mean masked median is roughly 1,000x slower than unmasked median.

Summary of several options (the "reference" time is `np.median` with no masks):

| function | masked? | time (sec) | slowness factor |
| --- | --- | --- | --- |
| `np.median` | no | 1.07s | 1x |
| `np.ma.median` | yes | 838s | 783x |
|

[2014-05-12 20:15] mwcraig opened #75 "subtract_dark should be able to scale the dark frame by exposure time"
It is in the API but right now can't be done....

[2014-05-13 15:03] mwcraig opened #76 "cosmicray_clean changes images in-place instead returning a copy"

[2014-05-13 15:06] mwcraig opened #77 "cosmicray_clean ignores ``background`` if it is float or ndarray"
Relevant code snippet is below. Handles `None` or a function only.

[code]

[2014-05-13 15:40] #75 closed, assigned to mwcraig

[2014-05-13 18:10] #54 closed, assigned to nobody

[2014-05-13 18:15] mwcraig opened #78 "Drop requirement that metedata be stored internally as a fits header"

[2014-05-14 11:06] cdeil opened #79 "Add a basic example to the docs"
Could you please add a basic example to the docs to show what `ccdproc` is about and what it can currently do?

I mean something short like the "Introduction" and "Getting Started" sections in [photutils](http://photutils.readthedocs.org/en/latest/photutils/index.html).

[2014-05-14 16:01] #70 closed, assigned to mwcraig

[2014-05-15 16:13] mwcraig opened #81 "Uncertainty should be settable with a plain array"
Right now setting the uncertainty with a plain numpy array raises an error because we require the uncertainty to be a subclass of `NDUncertainty`.

Since we assume else where that the uncertainty is a `StdDevUncertainty` (e.g. `create_variance`, which might be the only example) it seems like reasonable behavior here would be for setting `uncertainty` with a numpy array should create a `StdDevUncer

[2014-05-17 17:27] #77 closed, assigned to crawfordsm

[2014-05-21 04:54] mwcraig opened #85 "Revert changes to .travis.yml"
The changes to be reverted are in 84e1d380fd52b4c7d6cae99ee90128159d14a0c0

[2014-05-21 15:33] #73 closed, assigned to nobody

[2014-05-21 16:01] #33 closed, assigned to crawfordsm

[2014-05-21 16:01] #55 closed, assigned to crawfordsm

[2014-05-21 16:13] #85 closed, assigned to mwcraig

[2014-05-21 20:28] mwcraig opened #87 "Auto-logging should include all function args"
Right now only positional and non-default optional arguments are logged. Since the default value for arguments might change over time I think we should log all of them.

Related to #68

[2014-05-22 08:00] #78 closed, assigned to mwcraig

[2014-05-27 14:50] #87 closed, assigned to mwcraig

[2014-05-27 14:51] #68 closed, assigned to mwcraig

[2014-05-27 16:40] mwcraig opened #90 "Make a configuration item to control auto-logging"
This would be very convenient who want logging to happen only when they explicitly put it in.

[2014-05-27 16:54] mwcraig opened #91 "Allow user to specify normalization function for flat correction"
Right now the mean of the flat-field is always used. The user should have the option of some other function (e.g. median) and should be able to opt out entirely.

[2014-05-27 16:56] mwcraig opened #92 "Use `.divide` instead of `/` in flat_correct normalization"
Need to use `.divide` to ensure the error in the flat frame is properly scaled along with the data.

[2014-05-27 17:30] mwcraig opened #93 "Rebase onto the latest package template"
That would move us to the astropy_helpers-based version. We will still keep the current .travis.yml, I think.

[2014-05-27 17:38] #74 closed, assigned to mwcraig

[2014-05-27 18:34] crawfordsm opened #95 "AUTHOR and EMAIL in setup.py"
I'm currently listed as the AUTHOR in the setup.py along with my email address.   Since we are an official affiliated package, should this instead be changed this to astropy?   Although looking at astropy, they have this set as 'The Astropy Developers' and then the email to a gmail address that goes to the committee.

So what should this be changed to?

[2014-05-28 14:07] mwcraig opened #96 "Rename ccdproc.py to core.py"
@cdeil reminded me that the naming scheme `package_name/package_name.py` is discouraged in favor of `package_name/core.py`. Should we make this change?

[2014-05-28 14:09] mwcraig opened #97 "Change names of cosmicray_* to cosmic_ray_*"
This makes the names more PEP8-y

[2014-05-28 14:28] #17 closed, assigned to crawfordsm

[2014-05-28 14:28] #57 closed, assigned to crawfordsm

[2014-05-28 14:28] #76 closed, assigned to crawfordsm

[2014-05-28 14:36] crawfordsm opened #98 "Use `~ccdproc.ccddata.CCDData` instead of ccddata object"
In the docstrings for all functions, switch to the notation of `~ccdproc.ccddata.CCDData` instead of "ccddata object"

This should be checked in ccdproc.py, ccddata.py, and combiner.py

[2014-05-30 16:27] mwcraig opened #99 "Arithmetic methods fail if one of the operands has a mask and the other does not"
The error is actually generated in `NDData._arithmetic`, which deliberately only handles data with matching mask sizes.

I think the sensible route here is to make a mask, all `False`, for the operand missing a mask and then remove the temporary mask before returning (all in `CCDData._arithmetic`).

This case should probably be changed eventually in `NDData` since the sensible approach here is pre

[2014-05-30 16:33] mwcraig opened #100 "Trimmed data is not actually trimmed -- a view is being returned instead"
For example, if `trimmed= ccdproc.trim_image(some_image(100:, 40:50))` then `trimmed.shape` will return what you expect but `np.zeros_like(trimmed.data)` returns an array of the _original_ size.

[2014-05-31 04:39] #98 closed, assigned to mwcraig

[2014-05-31 04:39] #45 closed, assigned to mwcraig

[2014-06-02 16:18] mwcraig opened #101 "Restore reduction_examples.rst that went missing in a rebase"

[2014-06-02 16:57] #96 closed, assigned to nobody

[2014-06-02 16:58] #101 closed, assigned to mwcraig

[2014-06-04 16:20] mwcraig opened #104 "Remove references to bottleneck as soon as numpy 1.9 is released"
numpy 1.9 is much, much, much (factor of 400-500) faster at masked medians when operating on an image stack than numpy 1.8. Not quite as fast as bottleneck, but fast enough.

[2014-06-04 17:03] mwcraig opened #105 "Put ``ccdproc.electron`` into the namespace of ``astropy.units``"
By adding it as a unit and enabling it. That will, I _think_, at least make it available in string form as in ``ccdproc.CCDData(some_image, unit="electron"); longer term I'll do a PR on astropy to add it directly.

[2014-06-04 18:33] mwcraig opened #106 "Update .travis.yml to reflect latest from package-template"
I want to hold off on this until after 0.1 because:
- what we have now works for now
- we need to update after 0.4 is released

[2014-06-04 22:20] mwcraig opened #108 "Refactor ``subtract_dark`` to avoid explicitly setting unit of the scaled master"
With recent updates to astropy a warning is emitted if the `.unit` attribute on an `NDData` is set directly; `subtract_dark` currently does that when scaling to make sure that the unit of the scaled master is correct.

I think instead those couple of lines should be replaced by a call to `.subtract` which handles the unit setting already.

[2014-06-05 02:08] #93 closed, assigned to mwcraig

[2014-06-05 17:01] mwcraig opened #110 "Trimming with fits_section does not trim the uncertainty"

[2014-06-06 02:18] #53 closed, assigned to mwcraig

[2014-06-06 02:18] #100 closed, assigned to mwcraig

[2014-06-06 02:18] #110 closed, assigned to mwcraig

[2014-06-09 16:18] #105 closed, assigned to mwcraig

[2014-06-09 16:27] mwcraig opened #112 "Update electron unit after it is added to astropy"
This will require a couple changes in the docs and one in `CCDData`

[2014-06-09 17:29] #79 closed, assigned to mwcraig

[2014-06-09 18:57] #99 closed, assigned to mwcraig

[2014-06-09 18:57] #51 closed, assigned to mwcraig

[2014-06-09 18:59] #81 closed, assigned to mwcraig

[2014-06-09 20:02] #108 closed, assigned to mwcraig

[2014-06-10 17:55] crawfordsm opened #117 "Add test to check input array does not change"
When an input array is passed to a function, it should not be modified to the function.  A test should be added to the appropriate functions that the input array does not change.

[2014-06-10 17:56] #95 closed, assigned to nobody

[2014-06-12 19:21] #92 closed, assigned to mwcraig

[2014-06-12 22:21] #112 closed, assigned to mwcraig

[2014-06-12 22:27] mwcraig opened #119 "Switch to new package-template travis.yml"
Hopefully that fixes this build_sphinx warning, among other things: https://travis-ci.org/astropy/ccdproc/jobs/27444752#L2904

[2014-06-13 19:54] #119 closed, assigned to mwcraig

[2014-06-16 16:14] #106 closed, assigned to mwcraig

[2014-06-16 20:49] mwcraig opened #121 "Clean up imports"
Two things here:
- Remove unused imports
- Add `from __future__ import (division, print_function, absolute_import, unicode_literals)` at the top of everything to make the python 3 transition easier.

[2014-06-17 02:30] #121 closed, assigned to mwcraig

[2014-06-19 22:52] #58 closed, assigned to crawfordsm

[2014-06-21 03:27] #61 closed, assigned to mwcraig

[2014-06-24 17:55] cmccully opened #125 "Faster LACosmic"
I have implemented a fast version of the LACosmic algorithm in C with a python wrapper. The code is posted at https://github.com/cmccully/lacosmicx. I was wondering if it would be useful to incorporate into ccdproc/astropy. My implementation is multithreaded using OpenMP and also makes the approximation of using the separable 2d median filter. I ran some performance tests today (based solely on sp

[2014-07-08 16:02] crawfordsm opened #127 "v0.1 distribution"
Set-up everything that is needed for the v0.1 distribution.

This includes:
- [x] build documentation
- [x] build package for release
- [x] release on pyp
- [ ] release on other formatsi
- [x] send email to list

[2014-07-08 16:16] crawfordsm opened #128 "Transformation that handles errors correctly"
A method that handles transforming StdUncertainty objects correctly would be incredible useful.   This should be a method that can quickly transform an array and handle the correllated errors that arise due to geometric transforms of an array

[2014-07-08 16:22] crawfordsm opened #129 "Combining data with WCS"
A method that will combine data using only wcs information and handles error propagation correctly.

EDIT: See #133 so a separate issue for the error propagation.

[2014-07-08 17:49] #66 closed, assigned to crawfordsm

[2014-07-08 17:49] #67 closed, assigned to nobody

[2014-07-09 17:51] larrybradley opened #130 "LACosmic Differences"
I just learned that `ccdproc` has implemented LACosmic and I did a quick comparison with the version in `photutils` (which I wrote).  I wanted to give you some feedback on the differences that I've found.

I had previously compared the `photutils` version extensively with other implementations and here I ran the same example with `ccdproc`.  I've found that the `ccdproc` version doesn't produce re

[2014-07-09 18:15] mwcraig opened #131 "Comparison of data reduced by this ccdproc with other reduction packages"
The goal here is to do more cross-checking of the results of this package against other package(s) operating on data, along the lines of what is done in #130 and is planned in astropy/photutils

[2014-07-11 14:07] mwcraig opened #132 "More reduction examples as ipython notebooks"
Please try putting together your own notebook from the docs because feedback on where the documents are weak.

If you want to see one example, though, it is at: http://nbviewer.ipython.org/gist/mwcraig/06060d789cc298bbb08e

[2014-07-11 15:07] mwcraig opened #133 "Implement error propagation when combining images using WCS"
This requires work on  #129 (but #129 cam be completed before this one)

[2014-07-11 17:12] mwcraig opened #135 "Update units in example notebook"
It currently still refers to `cdproc.electron`

[2014-07-11 17:27] mwcraig opened #136 "Update example ipython notebook to reflect current namespace of ccdproc"
The example notebook was written before a namespace was set up in `__init__.py`

[2014-07-11 17:28] #32 closed, assigned to nobody

[2014-07-11 17:58] mwcraig opened #137 "Update astropy_helpers to point at latest version"
An install problem came up today for @carlosgg that can be fixed by updating to a newer version of the sub module.

[2014-07-16 15:40] crawfordsm opened #140 "Remove cosmicray_clean"
After some feedback, cosmicray_clean should probably be removed and each of the cosmic ray cleaning tasks should be independent.

This means that each code should be able to handle ccddata objects, growing bad pixels, and replacing bad pixels.

This will make code usage a little bit more obvious and make it easier to code against different implementations.

[2014-07-18 21:50] mwcraig opened #141 "Fix dependencies in setup.py"
It currently doesn't include numpy and scipy...

[2014-07-18 22:52] #137 closed, assigned to mwcraig

[2014-07-19 01:31] #141 closed, assigned to mwcraig

[2014-07-22 20:05] mwcraig opened #144 "Set result metadata to ccd.meta in flat_correct"
In the other reduction routines functions we set the metadata to the result to be the metadata of the ccd image we are calibrating, but that is not currently done for `flat_correct`

To see what needs to be done, take a look at `subtract_dark`

[2014-07-22 20:34] mwcraig opened #145 "Using header= in CCDData intializer raises an error..."
...because the argument is passed on to ``NDData``, which doesn't recognize the argument.

The fix would do something like:

+ pop ``header`` from the input dictionary before calling ``super....__init__`` in the ``CCDData`` initializer
+ set self.header to header ini ``CCDData.__init__``

[2014-07-22 21:20] #136 closed, assigned to nobody

[2014-07-22 21:20] #135 closed, assigned to nobody

[2014-07-23 01:54] #140 closed, assigned to nobody

[2014-07-23 01:55] #91 closed, assigned to crawfordsm

[2014-07-23 02:01] #144 closed, assigned to mwcraig

[2014-07-29 14:32] #127 closed, assigned to crawfordsm

[2014-07-29 14:35] crawfordsm opened #152 "v0.3 distribution"
With the release of v0.2, this is a new issue for any discussion related to the release of the next major version, which is currently tagged for v0.3.

This includes:
- [x] determine date of release
- [x] include contents of release
- [x] have beta release
- [x] build documentation
- [x] build package for release
- [x] release on pyp
- [x] release on other formatsi
- [x] send email to list

[2014-07-29 15:34] cdeil opened #153 "Move some functions "upstream""
@crawfordsm @mwcraig I just saw the `ccdproc 0.2` release announcement ... congratulations!

Looking through the list of functions in the [ccdproc API docs](http://ccdproc.readthedocs.org/en/latest/ccdproc/index.html#module-ccdproc) I think some should be moved "upstream", specifically:

* [sigma_func](http://ccdproc.readthedocs.org/en/latest/_modules/ccdproc/core.html#sigma_func) could be moved t

[2014-07-29 16:16] cdeil opened #154 "Update `create_variance` examples in the docs"
The `create_variance` function is currently used three times in the docs but it doesn't exist any more:
https://github.com/astropy/ccdproc/search?q=create_variance&ref=cmdform&type=Code

Can you please update these examples?
Is it possible to turn doctests on for ccdproc so that such outdated examples are caught by travis-ci?

[2014-07-31 17:59] #154 closed, assigned to nobody

[2014-08-05 14:11] eteq opened #156 "make meta case-sensitive"
I noticed this line in the docs:

Can someone clarify why this is the case?  Is it because you want fits header-like behavior?  I would advocate just doing away with that now, and saying from the get-go that it's case-sensitive, like any normal python dictionary.

[2014-08-05 18:36] #62 closed, assigned to crawfordsm

[2014-08-05 18:40] crawfordsm opened #157 "errors in combine average"
This is to look at and address how the errors are being handled in average combining data

[2014-08-05 18:43] crawfordsm opened #158 "Benchmarking of ccdproc"
Add automatic checking the performance of different ccdproc tasks

[2014-08-05 18:57] crawfordsm opened #159 "image alignment"
A task for calculating the transformation between two different images

[2014-08-05 18:59] crawfordsm opened #160 "astrometric solution for the image"
Calculate the astrometric solution for the images by comparing objects in the field to sources of known position

[2014-08-05 19:00] crawfordsm opened #161 "match seeing between images"
A task to compare a set of images and to convolve all the images to the same seeing

[2014-08-05 19:04] mwcraig opened #162 "Add validation page to documentation"

[2014-08-10 22:18] mwcraig opened #163 "Converting FITS header to CCDData metadata loses information"
The reason is that FITS allows multiple entries with the same keyword (e.g. `HISTORY` or `COMMENT`).  Because `CCDData.header` is an `OrderedDict` it can keeps only one of those entries (the last one) when the header is converted to a dictionary.

[2014-08-14 15:54] mwcraig opened #164 "__repr__ and __str__ of CCDData do not indicate in any way whether the data is masked"
Printing two CCDData objects that are identical except that one has masked data results in the same output -- there is no indication that any elements are masked.

The `__repr__` behaves in the same way: no difference in output.

Really should be fixed in `NDData`...

[2014-08-17 18:24] mwcraig opened #165 "FITS headers are fatally corrupted by round-tripping through CCDData.meta"
Two cases I've hit:
- continue cards get messed up
- WCS information seems to be lost (even though all of the WCS keywords are still present.

[2014-08-23 18:57] mwcraig opened #166 "If metadata is a fits.Header then need to change autologging to ensure valid fits header"
The best fix to #163 and #165 is to allow (but not require) the metadata to be a FITS header. The issue is that auto-logging routine creates key/value pairs in which both the key and the value are longer than FITS allows. The `HIERARCH` convention handles long keywords, and `CONTINUE` handles long values, but they do not work together.

Currently this is handled in `CCDData.to_hdu` (because until

[2014-08-29 13:36] #156 closed, assigned to mwcraig

[2014-08-29 13:36] #163 closed, assigned to mwcraig

[2014-08-29 13:36] #165 closed, assigned to nobody

[2014-08-29 13:36] #166 closed, assigned to mwcraig

[2014-08-29 22:57] mwcraig opened #168 "Write CCDData unit to FITS header as BUNIT when writing or converting to an HDU"
Right now we use BUNIT from the FITS header when we read but don't write it back out.

[2014-09-01 19:10] mwcraig opened #170 "Logging when units are both explicit and in a FITS file is broken"
The problem is in `ccddata.py` line 342, where new-style string formatting is (sort-of) used. Fix is to either change both of the numbered references, e.g.  `{0}` to old-style `%s` or to `.format` the string.

The python logging module uses the old-style string formatting for backwards compatibility.

[2014-09-01 19:14] #168 closed, assigned to mwcraig

[2014-09-01 19:46] #170 closed, assigned to nobody

[2014-10-03 18:50] embray opened #172 "Allow FITS writer to write to an existing `HDUList`?"
I was reading the ccdproc docs for the first time in the context of [APE 6](https://github.com/astrofrog/astropy-APEs/pull/1) and hit upon the [section on writing](http://ccdproc.readthedocs.org/en/latest/ccdproc/ccddata.html#getting-data-out) particularly to a FITS file.

The `to_hdu()` method seems potentially useful in its own right, so that's fine.  But I wonder if, in addition to writing a CC

[2014-10-07 02:30] mwcraig opened #173 "Change default when reading image to look for first image HDU"
This change was suggested by @embray here: https://github.com/astropy/ccdproc/commit/293e31ed7706bc507d02bc03692442ea7d6eb466#commitcomment-8032433

[2014-10-08 18:34] crawfordsm opened #174 "Moving to astropy"
Issues with incorporating ccdproc into astropy

[2014-10-08 18:50] crawfordsm opened #175 "Triage of what functions should be moved to different packages"

[2014-10-10 13:28] welterde opened #176 "Combiner memory consumption"
Stacking several 4k*4k images results in the process running out of memory quite quickly. For now I have replaced some parts locally that do the same thing line by line instead of the whole thing at once, which already reduces the memory requirements significantly, but it's still not ideal.

Are there any plans to replace the current workings of the combiner with some cython code?

[2014-10-23 21:11] joshwalawender opened #177 "Header info does not parse to u.adu units correctly"
When initializing a CCDData object from a fits file and parsing the header for units the header content:

<code>BUNIT   = 'ADU     '           / Unit of original pixel value</code>

does not parse correctly giving an error:

  File "/sw/lib/python2.7/site-packages/astropy/io/registry.py", line 330, in read
    data = reader(_args, *_kwargs)
  File "/sw/lib/python2.7/site-packages/ccdproc/ccddata.p

[2014-10-29 17:05] crawfordsm opened #180 "Create CHANGLOG"
Create CHANGELOG for tracking changes.

[2014-10-30 21:24] #177 closed, assigned to crawfordsm

[2014-10-30 21:33] #180 closed, assigned to nobody

[2014-10-30 21:35] mwcraig opened #183 "Add CHANGES.rst to documentation"
It should be added in two places:

- [x] README.rst (a link to the changelog will do the trick because github will automatically render it nicely).
- [x] To the docs; see astropy/astropy for how to handle this.

[2014-10-30 21:35] mwcraig opened #184 "Get changelog up to date based on commits since 0.2"

[2014-10-30 21:38] mwcraig opened #185 "Small documentation fixes"
This is meant to start a collection of these that will be fixed in a single PR...

- [x] https://github.com/astropy/ccdproc/commit/7c15bd6a135df83462c129aaaa8ba75d1b6b3329#commitcomment-8032381

[2015-01-27 23:00] crawfordsm opened #186 "update to astropy v1.0"
Things that will need to be updated:

- [x] CCDData to use new NDData
- [x] Being able to read/write CCDData objects

[2015-02-04 00:08] crawfordsm opened #188 "Update tests to build with most recent astropy version"
The travis build needs to be updated or paused until the next stable release of astroipy as ccdproc will only build with astropy >= 1.0

[2015-02-04 00:09] #186 closed

[2015-02-09 23:25] mwcraig opened #189 "Update combiner to enforce the return type of combined images"
It turns out that `np.ma.average` and `np.ma.median` promote floats to `float64` if they are smaller, so even if the user has specified a `dtyp` in the initialization of `Combiner`, and `Combiner` is using that `dtype` to store the masked arrays internally, it will still return averages/medians that are at least `float64`.

Fix is to check `dtype` and, if necessary, change it, in the appropriate `

[2015-02-17 03:16] mwcraig commented on #183
Closed by #190

[2015-02-17 03:16] #183 closed

[2015-02-17 03:25] mwcraig opened #191 "Update supported versions of python/numpy to match astropy 1.0"
That means dropping support for:

- [ ] python 3.2
- [ ] numpy 1.5

[2015-02-17 03:35] mwcraig opened #193 "Revert travis tests to mostly using astropy stable once 1.0 is out"

[2015-02-17 03:47] #188 closed

[2015-02-17 03:47] #191 closed

[2015-02-20 19:54] #193 closed

[2015-02-24 19:43] mwcraig opened #195 "Create wcs attribute if there is WCS in the metadata and include wcs attribute in FITS serialization"
That will ensure that WCCS is properly sliced when the image is sliced.

[2015-02-24 19:55] crawfordsm opened #196 "CCDData written as MEF FITs"
Since a CCDData object can include multiple planes (data, uncertainty, masks), it would be good if these could all be written out at the same time in order to save the data as a multi-extension FITS file

[2015-03-03 20:34] #173 closed

[2015-03-04 10:07] #195 closed

[2015-03-04 14:15] #189 closed

[2015-03-04 19:31] mwcraig commented on #145
To be a little more specific, this call raised an error:

[code]
even though the nearly identical call below works:
[code]

[2015-03-16 18:46] mwcraig commented on #52
Closing this as a duplicate of #196

[2015-03-16 18:46] #52 closed

[2015-03-16 19:09] mwcraig commented on #117
To flesh this one out a bit more, for each of the functions in `ccdproc/core.py` (or at least all of them listed in the `_all__` variable at the top of that file) there should be a test that checks whether the input array is changed.

For example, a test like that for `create_deviation` might look like this:

[code]

[2015-03-17 03:38] mwcraig commented on #145
Closed by #200

[2015-03-17 03:38] #145 closed

[2015-03-17 03:39] mwcraig commented on #104
Closed by #200

[2015-03-17 03:39] #104 closed

[2015-03-31 18:45] crawfordsm opened #202 "Integrate new lacosmicx into ccdproc"
Once the new version of lacosmicx is accepted somewhere https://github.com/astropy/imageutils/pull/35 integrate it into ccdproc

[2015-03-31 18:50] crawfordsm commented on #152
Released!  Still need to send announcement

[2015-04-12 11:35] crawfordsm opened #203 "no wcs setter"
In ccddata, wcs is current an attribute with no way of setting it such that:
    ccd.wcs = wcs
currently fails

[2015-04-12 11:43] crawfordsm opened #204 "arithmatic on data with wcs"
Current arithmatic between two `CCDData` objects is  not possible unless they have the exact same wcs.   This is due to a line in
    if self.wcs != operand.wcs:

I'm not sure what that comparison entails, but it would seem that at times you would want to be able to subtract fits files that have different wcs values.    For example, when calibrating between calibration frames and science frames.

[2015-04-17 17:34] walkerna22 opened #205 "ccd_data in subtract_overscan"
In core.py the function subtract_overscan modifies the copy of ccd_data it uses.  This shouldn't happen.

[2015-04-21 14:41] #205 closed

[2015-04-21 15:20] crawfordsm opened #207 "command line tools for what we normally do in iraf"
[ ] imhead

[2015-04-21 15:44] mwcraig commented on #207
Could this be an alias to fitsheader (already included in astropy core)? Or maybe a table in the docs like:

To do this IRAF task... |  ...do this from ccdproc (or astropy)
------------------------------|----------------------------------
imhead  | fitsheader

[2015-04-21 15:48] crawfordsm commented on #207
Yup, it could, I was just adding to here things that came up during writing the tutorial

[2015-04-23 08:26] kelle commented on #132
I'd be interested in working on this tomorrow afternoon.

[2015-04-23 12:16] mwcraig commented on #132
Thanks, @kelle, looking forward to it!

[2015-04-24 14:22] crawfordsm opened #212 "Add code to ascl"
We need to add the code to the ascl--this requires the following information:
Title
Credit
abstract
site list
ref list
email
notes

[2015-04-28 15:36] crawfordsm commented on #212
Title: ccdproc: CCD data reduction software

Credit: Steven M. Crawford, Matthew Craig, and the ccdproc contributors

Abstract:
Ccdproc is is an affiliated package for the AstroPy package for basic data reductions of CCD images. The ccdproc package provides many of the necessary tools for processing of ccd images built on a framework to provide error propagation and bad pixel tracking throughout t

[2015-04-28 18:53] mwcraig opened #213 "create list of contributors and populate from pull requestes"

[2015-04-28 19:04] crawfordsm opened #214 "add banner"
Add banner to the documents and in other relevant places

[2015-04-28 19:09] crawfordsm commented on #160
This could be taken care/integrating in with this pull request to astroquery:
https://github.com/astropy/astroquery/pull/521

[2015-04-28 19:10] #152 closed

[2015-05-01 16:15] #117 closed

[2015-05-05 18:39] crawfordsm commented on #212
http://ascl.net/code/v/1108

[2015-05-05 18:39] #212 closed

[2015-05-19 19:31] mwcraig commented on #196
Weights also?

[2015-05-19 19:32] #184 closed

[2015-05-19 19:35] crawfordsm commented on #174
Decision made to not move ccdproc into astropy, but to migrate some functionality.

[2015-05-19 19:35] #174 closed

[2015-05-19 19:43] crawfordsm commented on #159
See the reprojection package that is being worked on

[2015-05-19 19:44] mwcraig commented on #159
https://github.com/astrofrog/reproject

[2015-05-19 19:51] crawfordsm commented on #175
rebin is now in nddata.utils.block_reduce and block_replicate

[2015-05-19 19:52] #153 closed

[2015-05-19 19:52] crawfordsm commented on #153
trim_image is mentioned in #175 and also `rebin` and `sigma_func` are now in astropy.

[2015-05-19 19:56] #130 closed

[2015-05-19 19:57] crawfordsm commented on #129
also related to #204

[2015-05-19 19:58] #125 closed

[2015-05-19 19:59] #97 closed

[2015-05-19 20:01] #64 closed

[2015-05-19 20:03] crawfordsm commented on #59
https://github.com/astrofrog/reproject

[2015-05-19 20:07] mwcraig commented on #60
Take a look at this again when https://github.com/astropy/astropy/pull/3595

[2015-05-21 09:42] indiajoe commented on #176
The major hurdle I faced while trying to migrate from IRAF based data reduction pipelines to ccdproc was this memory issue. In Infrared observations, the number of files per objects are typically huge, and it is impossible to load all the images to memory before combining them. (for example I had to take median of ~200 frames). I don't know how IRAF does it. I guess the only way we can implement i

[2015-05-21 14:03] crawfordsm commented on #176
iraf basically does it by dividing up every frame into smaller regions which is handled in the gist above.   There has been an outstanding task to include a combiner task which the gist could include or alternatively to write it a completely different version in cython that would handle it pixel by pixel.   It hasn't been very high on the priority list right now, but any help with it would also be

[2015-05-21 16:00] indiajoe commented on #176
May be I shall try to write a wrapper function which will do the procedure done in the gist. Which we can then use inside the code for average, median (or any future) combine methods of combiner.py.
.

[2015-05-21 16:11] mwcraig commented on #176
Thanks, @indiajoe , that would be awesome!

[2015-05-22 04:26] mwcraig opened #215 "Add docstring for `weights` in `Combiner`"
As report by email, `weights` does not have a docstring.

[2015-05-22 04:37] mwcraig opened #216 "Fix docstring of average_combine, which refers to median."

[2015-05-22 22:22] indiajoe commented on #176
Got some time today to write the decorator (I have kept it here temporarily: https://gist.github.com/indiajoe/24d916c3450f448f6b0e )
But I think I understood the problem wrongly. Memory usage at which stage are we trying to reduce?
If I understand correctly when we create a combiner object it creates an internal 3D maskedArraycube.  While taking median or average, does it really create another cop

[2015-06-02 18:44] mwcraig commented on #176
@indiajoe -- you are correct that combiner creates an internal copy as a masked array, so the goal would be to break the array into chunks. Also, if you could take a quick glance at http://astropy.readthedocs.org/en/stable/development/codeguide.html#coding-style-conventions that would be great -- main thing I noticed in the gist is that you are using camel case (which we've avoided).

Thanks again

[2015-06-02 23:55] indiajoe commented on #176
@mwcraig , @crawfordsm -- I have written another convenience class  which will create a new combiner instance for each sub tile, set the properties etc..
https://github.com/indiajoe/ccdproc/commit/060f046518b35965649883857f78c4d8fe8c2aff

The code above is just to show the structure and outline of the planned implementation.
I haven't tested it yet, and I shall also correct it to follow astropy co

[2015-07-11 16:50] mwcraig opened #219 "Make docstring for `CCDData.read` more helpful"
Right now it seems to be using the docstring from the base metaclass.

[2015-07-12 17:55] bsipocz opened #222 "`scale_func` and `scale_to` in unused in `average_combine`"
I'm just guessing here, but happy to make the changes if they are clear.

Following the logic of ``median_combine``, is ``scale_func`` supposed to be the averaging function, defaulting to ``ma.average``? and ``scale_to`` steps in as ``scalings`` overriding ``self.scaling``?

[2015-07-12 18:14] bsipocz commented on #214
@crawfordsm - where is the banner stored atm?

[2015-07-12 19:11] #216 closed

[2015-07-12 19:19] bsipocz opened #224 "Allow to chose a function for uncertainty calculation in Combiner"
Along the logic of the optional `median_func` and `scale_func`, there may be room for choosing the uncertainty function to be different than the default in `median_combine()` and `average_combine`.

[2015-07-14 19:09] mwcraig commented on #214
@bsipocz -- I just added the logo (we don't really have a banner) to master in `docs/_static`.

[2015-07-14 19:11] mwcraig opened #226 "Move travis tests to container-based infrastructure"

[2015-07-16 00:48] #226 closed

[2015-07-16 00:50] mwcraig opened #228 "Check for presence of list-like keywords when converting WCS-produced header to FITS"
As explained in #227, the new wcslib contains a blank keyword, which returns a list since there can be multiple values. The fix, I think, is to catch any of the possible list-like keywords (blank, `COMMENT`, `HISTORY`) and copy the list.

[2015-07-16 20:29] #228 closed

[2015-07-17 03:00] mwcraig opened #230 "to_hdu should be using update, not unique, argument to extend if WCS is present."
Assuming, of course, we view the information in the WCS to be authoritative, which we should. As currently implemented the WCS information in the header will be kept.

[2015-07-18 01:42] mwcraig opened #232 "Delete WCS keywords from header after creating WCS object from FITS"
Right now the WCS object is created but the keywords are left in the header. That seems undesirable because the two can, in principle, get out of sync. Right now the code treats the WCS attribute as the correct ones, but the ambiguity would be removed if the header keywords were removed.

[2015-07-18 01:46] #230 closed

[2015-07-31 15:56] evertrol opened #233 "Documentation on dark subtraction and in-place operation"
I'm confused about the following in the [docs](http://ccdproc.readthedocs.org/en/latest/ccdproc/index.html):

But I see no obvious keyword or anything else (compared to the example code above it) that lets the operation be performed in-place. Testing this also simply shows different ids for the various CCDData instances).

Browsing through the code, I can't see anything either (the final calculati

[2015-08-02 19:15] mwcraig commented on #233
@evertrol -- thanks for catching this, the documentation is incorrect.

In-place operation could conceivably be offered as a feature (though it would remain disabled by default)...how important to you would it be to have that option?

[2015-08-03 07:59] evertrol commented on #233
I was mostly browsing the documentation to find out how much of use ccdproc could be to me in the near future (compared to e.g. using `astropy.io.fits` and `numpy` directly); this section just struck me as odd.

I may not need in-place operations right now, but it may be of use for me in the near future (say, within half a year).
While I don't expect to be balancing the memory requirements such th

[2015-08-04 03:23] mwcraig commented on #233
@evertrol - it would be great if you are interested in working on it! I'll take a look in the morning at whether there is a more efficient way of approaching it than manually adding the keyword everywhere, but that would certainly work.

[2015-08-04 18:27] crawfordsm commented on #232
As to our conversation: the meta data and the WCS information should stay current with each other, so if we could have something where the meta data updates when the WCS updates would be ideal.

[2015-08-04 18:58] bsipocz opened #234 "Fix inheritance class links"
Enabling the ``nitpicky`` mode for the spinx build in #221, there are 3 unresolvable links that are originated from the inheritance of ``NDDataArray``. I think they should have been resolved automatically as ``astropy.nddata.NDIOMixin``, etc but they are referenced with their full canonical location even though the  ``NDDataArray`` is referenced with the user location.

As a temporary workaround t

[2015-08-04 22:17] evertrol commented on #233
I had a go at this, but I hit an obstacle pretty quickly: since `CCDData` inherits from astropy's `NDDataArray` (and therefore automatically deals nicely with uncertainties and units), it also hands out the basic arithmetic to `NDDataArray` when both sides are `CCDData` objects. Which essentially makes this an Astropy issue.

Potentially, one could work around this, but that means implementing qui

[2015-08-05 05:06] mwcraig commented on #233
@evertrol  -- sounds like a separate ``inplace`` option might not be worth the extra effort for 20%. I'm not too worried about it being in astropy because I'm one of the lead devs for the `NDData` subpackage.

I think what we originally intended to put in the docs was something like this:

[code]

so that ``image_1`` is overwritten by the result of subtracting the dark. That would be an easy doc f

[2015-08-06 06:12] evertrol commented on #233
The `image_1 = ...` was a thought that occurred, but since that is a replace, not an in-place operation, I got confused what actually is meant.

[2015-08-06 17:23] mwcraig commented on #233
Right, observed too many night in a row and forgot `in_place != replace`.

How would suggest we proceed? I'm ok with a doc wording fix and example fix, or removing that snippet of docs, and/or something more extensive.

[2015-08-11 06:27] mwcraig opened #235 "Remove extensive discussion of Keyword class in "Getting Started" section of documentation"
It gets two sentences and examples but is largely irrelevant (and unused in ccdproc)

[2015-08-11 06:30] mwcraig opened #236 "Update list of advantages of using ccdproc for basic operations"
I'm thinking about the list at https://github.com/astropy/ccdproc/blame/master/docs/ccdproc/index.rst#L109

It doesn't mention another advantage -- slicing is propagated to WCS as needed.

[2015-08-14 01:12] evertrol commented on #233
Well, I don't really feel it's my call, but I would just drop the sentence/paragraph, to avoid confusion.
And perhaps in some far future, I'll have another look at `NDDataArray._arithmetic()` and see if things can be sped up more using in-place operations, but indeed, I don't really expect it will be worthwhile.

[2015-08-18 02:26] mwcraig commented on #233
@evertrol -- OK, will drop. Thanks for the feedback! If you want to open a PR to do the fix, feel free -- I won't get to it for a few days.

[2015-09-08 18:45] mwcraig opened #239 "Raise warning or exception if there are no fits files in an ImageFileCollection"
Right now it silently creates a (useless) `ImageFileCollection`.

[2015-09-15 18:37] mwcraig commented on #233
Closed by #237

[2015-09-15 18:37] #233 closed

[2015-09-29 19:25] mwcraig commented on #215
closed by #223

[2015-09-29 19:25] #215 closed

[2015-09-29 19:30] mwcraig commented on #203
To close this we want to add a setter as described, e.g. in http://www.programiz.com/python-programming/property in the last code example.

An example in ``ccdproc/ccddata.py`` is at https://github.com/astropy/ccdproc/blob/master/ccdproc/ccddata.py#L112

(it is the `CCDData` object that needs the WCS setter)

[2015-10-07 14:05] wschoenell opened #240 "Overscan does not works with non-square images and axis != 1"
I tried to do an `subtract_overscan` on a non-square image and got an error regarding the shape mismatch. To reproduce this I made this test:

	import numpy as np
	from astropy import units as u
	arr1 = ccdproc.CCDData(np.ones([100, 110]), unit=u.adu)
	no_scan = ccdproc.subtract_overscan(arr1, overscan=arr1[:, 90:100])
	no_scan = ccdproc.subtract_overscan(arr1, overscan=arr1[90:100], overscan_axis

[2015-10-08 03:02] mwcraig commented on #240
Thanks for the report, @wschoenell. Are you interested into working up your solution into a pull request to fix it (mainly it would involve adding a test for the issue, which I can help you with)?

[2015-10-08 18:34] wschoenell commented on #240
Yes, I can do it.

I just gave a quick look the tests and the image file that you use (`a8280271.fits`) is a square of 520 x 520 pixels (plus 16 px of overscan). Maybe changing the geometry of this image for a rectangle would help find bugs like this where the x, y different lengths are not take in account.

I did not deeply checked, but if you just change the shape of the test image, I believe th

[2015-10-10 00:22] wschoenell opened #241 "Problems with astropy version 1.0.5"
I don't know if I should post here or on astropy/astropy, but here it goes...
If I run `python -c "import ccdproc; ccdproc.test()"` with the latest astropy version (1.0.5), I end up with a LOT of errors like the error below. It seems to be caused by this commit: astropy/astropy@018e7f23208355fc39453ec05b29a00b8863c56f

	ccd_data = CCDData([[-1.0856306 ,  0.99734545,  0.2829785 , ..., -1.36347154,

[2015-10-10 19:12] mwcraig commented on #240
@wschoenell -- it turns out we are not actually using that image for most tests. Instead, for most tests we use the pytest fixture `ccd_data` defined at https://github.com/astropy/ccdproc/blob/master/ccdproc/tests/pytest_fixtures.py#L42

Probably the easiest way to change that test would, somewhere near the top of it, to change the size of `ccd_data` by slicing: `ccd_data.data = ccd_data.data[:, :

[2015-10-10 19:34] mwcraig commented on #241
@wschoenell -- once again, thanks! The issue belongs here. As far as I can tell the problem the `data=` in the first argument of https://github.com/astropy/ccdproc/blob/master/ccdproc/tests/pytest_fixtures.py#L42

The `NDData` class clearly indicates the first argument is required, so shouldn't be a keyword, but that never mattered until until astropy/astropy#4130 was merged in, which assumes (cor

[2015-10-11 16:25] wschoenell commented on #241
Thanks for you reply. I will moving to another continent this week so I don't think that I'll have time to look on this... So, please go ahead. If you still need help I can re-join this issue in 2 weeks.

[2015-10-12 16:00] crawfordsm commented on #241
Just trying this out with some other code and it looks like the astropy update also breaks the multiply function in ccdproc--so not sure if it something so simple as fixing the testing suite.    I'll delve into it a little further right now.

[2015-10-12 22:35] wschoenell commented on #241
Indeed. We found this problem after updating ccdproc and having the error below on script that was working before.

[code]

[2015-10-13 19:20] crawfordsm commented on #239
My feeling would be a warning would be appropriate as it might be useful to be able to create an empty ImageFileCollection.

[2015-10-13 19:21] mwcraig opened #243 "Either more extensively test initialization of ImageFileCollection from a saved table or remove it"
This case hasn't been extensively tested...it should be, or maybe remove that part of it for now.

[2015-10-13 19:31] crawfordsm commented on #241
Okay this should now be fixed in the just merged #242    Let me know if you continue to have any problems with this.

[2015-10-13 19:31] #241 closed

[2015-10-13 23:58] wschoenell commented on #241
Thanks guys!

[2015-10-20 19:18] mwcraig commented on #222
Closed by #223

[2015-10-20 19:18] #222 closed

[2015-10-20 19:23] mwcraig commented on #176
Was this closed by #218 ?

[2015-10-20 19:23] mwcraig commented on #65
Is this closed by #218?

[2015-10-21 01:41] indiajoe commented on #176
I think, it is solved. #218 wasn't a cython implementation as suggested earlier in this issue. But it solves the problem.

[2015-10-21 03:03] #240 closed

[2015-10-21 17:47] souravsingh commented on #185
I wish to do this.How do I start?

[2015-10-22 14:52] mwcraig commented on #185
Hi @souravsingh -- thanks for volunteering! I won't have time to give you detailed help until Friday or Saturday. In the meantime you could take a look at the contributing documentation for astropy at http://astropy.readthedocs.org/en/stable/development/workflow/development_workflow.html

If I don't reply again by Saturday please remind me!

[2015-10-23 15:00] mwcraig opened #248 "ImageFileCollection iterators return full path to filename, not just the file name"
Was surprised today when writing tables inside a `.hdus` loop that the files I was writing were being written to the directory with the original images, not the directory I was working in in the notebook.

The problem was that in a loop like this:

[code]

the returned `fname` is the *full path* to the file rather than just the file name.

[2015-10-25 03:16] mwcraig opened #251 "Fix CHANGES.rst, which incorrectly lists some changes in the wrong release"
Some of the changes committed in #250 were added to 0.3.1 instead of 0.3.2 (which has since been superceded by 0.3.3 anyway due to errors in the changelog for 0.3.2)

[2015-10-25 03:17] mwcraig commented on #251
should we release an 0.3.3.post1 to fix this???

[2015-10-25 04:48] crawfordsm commented on #251
Um, I don't know.  How bad is it?  And how much work?

[2015-10-25 18:28] mwcraig commented on #251
A couple things that are really in 0.3.3 are listed under 0.3.1. I'll definitely fix it in master, but maybe not bother with fixing on 0.3.x unless we end up doing another release there? All of the fixes are listed in the changelog for 0.3.3....

[2015-10-26 20:04] #239 closed

[2015-10-26 20:41] mwcraig commented on #248
@crawfordsm -- there is a question here, I think: what *should* be returned? It is easy to generate the full path from the file name and the location with `os.path.join(image_collection.location, fname)`....

[2015-10-27 01:15] crawfordsm commented on #248
I think I discovered this as well and I was doing something similar to the joining of the paths.   perhaps there should be some option for being able to specify the output path?

[2015-10-27 01:16] crawfordsm commented on #248
And then a default if it is not specified.   There is also the problem that if it is in the same directory as the raw data, when you read in stuff again, you will get that file as well (if there is some change in the name) or overwrite your raw file which I'd classify as very, very bad

[2015-11-04 00:51] mwcraig commented on #176
@crawfordsm -- can you please close this if #218 fixed it? Thanks!

[2015-11-04 00:55] #176 closed

[2015-11-08 18:49] conor-byrne opened #254 "Python 3.5 compatibility?"
Just attempted to install from anaconda with:
`conda install --channel https://conda.anaconda.org/astropy ccdproc`

which gave

[code]

If you're working on it, that's fantastic. I really don't want to seem ungrateful.
Thanks!

[2015-11-08 21:18] crawfordsm commented on #254
Just noticing that we don't have python 3.5 in our test suite, and I'm not sure if a conda package has been created for it yet but @mwcraig should be able to answer that.  Thanks for bringing this up and we will try to get it fixed soon.

[2015-11-09 09:01] mwcraig commented on #254
We are grateful for every user, believe me!

I'm downloading the latest microsoft compiler for Windows (compiler changed in 3.5) and will give it a try. *Shouldn't* be an issue for ccdproc since it is pure python, but I've held off on updating the automated conda-builder until I can try out compilation on Windows.

[2015-11-09 09:02] mwcraig commented on #254
@conor-byrne -- forgot to say thanks for reporting, and in the meantime you should be able to do `pip install ccdproc` without any problems.

[2015-11-09 13:33] conor-byrne commented on #254
Cheers guys, much appreciated. Thanks again for your work!

[2015-11-17 20:40] mwcraig opened #255 "Update travis tests"
Should include:

+ numpy 1.10
+ python 3.5
+ latest stable astropy
+ latest bugfix 1.0.x

Should drop:

+ numpy 1.6

[2015-11-19 20:39] #203 closed

[2015-11-28 00:36] #255 closed

[2015-12-10 15:56] mwcraig commented on #254
@conor-byrne -- there is now a python 3.5 conda package for ccdproc on the `astropy` channel, 64-bit windows, mac and linux.

Let me know if you run into any problems with it.

[2015-12-10 15:56] #254 closed

[2015-12-14 15:29] mwcraig opened #259 "Add testing on appveyor"

[2015-12-14 15:29] crawfordsm commented on #65
closed by #218

[2015-12-14 15:29] #65 closed

[2015-12-14 15:39] mwcraig opened #260 "Add photutils as dependency"
Will be needed for using `astrometry.net`  to get WCS and for matching seeing between frames.

[2015-12-14 16:33] #214 closed

[2015-12-14 16:53] mwcraig commented on #259
May as well also switch to using astropy/ci-helpers.

[2015-12-14 17:14] mwcraig opened #262 "Order of column names in ImageFileCollection is non-deterministic"
The reason is that the initial (ordered) list of keys is passed through a set (which is unordered) in https://github.com/astropy/ccdproc/blob/master/ccdproc/image_collection.py#L162-L168

Affects #258, among others...

[2015-12-14 19:16] mwcraig commented on #262
And: https://github.com/astropy/ccdproc/blob/master/ccdproc/image_collection.py#L359-L360

And then (though note this is an `OrderedDict`): https://github.com/astropy/ccdproc/blob/master/ccdproc/image_collection.py#L375-L383

[2015-12-15 05:04] evertrol opened #264 "fits_section does not allow for '*' indexing"
The `fits_section` argument used in `subtract_overscan` and `trim_image` does not allow for the use of an asterisk wildcard to indicate all rows or columns. Instead, it uses the Python convention for indicating this, using a lone double colon.

This is fairly easily resolved while still allowing for the `:` syntax, by replacing all `*` with `:` halfway the `slice_from_string` function. For example

[2015-12-15 10:18] crawfordsm commented on #264
Thanks for the feedback @evertrol .   If you have a chance, please feel free to to put in a pull request with this update.  If not, we will see if it can be added soon.   I think the code you added looks like it would work for most cases with a small test added for it.

Hmm, probably could open a second pull request to handle the special case of `[-*,*]`

[2015-12-15 11:55] evertrol commented on #264
Not a problem: I can implement a PR possibly tomorrow, or later this week.

For the special `[-*,*]` case, I wonder if the following cases are valid FITS sectioning syntax:
- `[-*:2,*]`
- `[*:-2,*]`

I suspect the former is, while the latter isn't. The link given above is not that explicit about the syntax, but from the example that uses `[*:2, 512:256:2]`, I don't think FITS uses, or even allows

[2015-12-15 12:15] evertrol commented on #262
Just an additional note, since I just stumbled upon this when deciphering the Travis failure for PR #263 : in the case where `_summayr_info` is assigned to an `astropy.table.Table` (https://github.com/astropy/ccdproc/blob/master/ccdproc/image_collection.py#L80-L84), the order of the `colnames` attribute is again indeterminate, since this is a list created from a the keys of a dict (https://github.

[2015-12-16 05:53] evertrol opened #266 "print function in combiner.combine() can be rather noisy"
The explicit use of `print()` in `combiner.combine()` can't be turned off, and can cause noisy output where it's not wanted.

The offending lines are https://github.com/astropy/ccdproc/blob/master/ccdproc/combiner.py#L475-L476 and https://github.com/astropy/ccdproc/blob/master/ccdproc/combiner.py#L492

The latter could become `logging.info(...)` or `astropy.log.info(...)`.

For the former, I doubt

[2015-12-16 12:57] crawfordsm commented on #266
Good point @evertrol -- something that I missed in the initial review.  The first one should just be an exception and then second should use astropy.log.info .   Thanks for raising it and feel free to submit a PR fixing it.

[2015-12-17 01:48] #262 closed

[2016-01-05 17:17] hamogu commented on #204
+1 fir a way to do arithmetic with non-matching WCSs. (On a pixel-by-pixel basis.)

[2016-01-07 19:17] crawfordsm opened #270 "hdu or ccddata in imagefilecollaction"
Should ImageFileCollection geneator produce hdu's or CCDData objects?

[2016-01-07 19:19] #266 closed

[2016-01-08 03:22] mwcraig commented on #270
It would be nice to keep the `hdus` option, but would be easy enough to add another generator because they all (`data`, `hdus`, `headers`) share the same code under the hood and differ only in what they return.

Maybe an `images` generator?

[2016-01-09 17:49] dokeeffe commented on #204
+1 fir this. Flats and Darks will never have the same WCS as image frames.

[2016-01-10 18:29] bsipocz opened #276 "Make ImageFileCollection Windows compatible"
All tests of ``ImageFileCollection`` had to be marked as xfail on Appveyor in #273 as the module is not yet windows compatible and causing failures.

Here is a failing build log: https://ci.appveyor.com/project/Astropy/ccdproc-iqpau/build/1.0.10

[2016-01-10 18:38] #259 closed

[2016-01-11 03:28] mwcraig commented on #204
I'll have to look into this again...we are clearly able to do this in ``ccdproc.subtract_dark``, for example. Turns out the comparison is essentially meaningless anyway because `wcs.WCS` does not implement `__eq__`...

[2016-01-11 08:51] dokeeffe commented on #204
That would be great thanks! I'm basically trying to do `ccdproc.subtract_dark` using two `ccdproc.CCDData` instances which are loaded from fits files (master-dark and light files).

[2016-01-12 20:00] mwcraig commented on #264
Closed by #265

[2016-01-12 20:00] #264 closed

[2016-01-12 20:11] crawfordsm commented on #60
Not going to be changed.

[2016-01-12 20:11] #60 closed

[2016-01-12 20:48] crawfordsm commented on #204
I'll be opening a small pull request at `NDArithmeticMixin`to try to remove this exception being raised for this as that is where the problem is.  However, if this isn't fixed and released there by the time we are ready with 0.4, we will implement meant a work around in ccdproc

[2016-01-15 03:55] AnthonyHorton opened #278 "CCDData arithmetic with number/Quantity removes wcs attributes"
The current implementation of CCDData._ccddata_arithmetic() returns a new CCDData object with valid data, unit, uncertainty and meta attributes derived/copied from the original but simply discards any WCS  present, e.g.:

    In [12]: test = ccdproc.CCDData.read(path, unit = 'adu')

    In [13]: test.wcs
    Out[13]:
    WCS Keywords

    Number of WCS axes: 2
    CTYPE : 'RA---TAN'  'DEC--TAN'

[2016-01-15 07:20] AnthonyHorton opened #281 "trim_image() does not correctly update WCS"
The trim_image() function returns a trimmed copy of the input CCDData object but does not correctly update the WCS.  The CRPIX values appear to be modified accordingly but the NAXIS values are unchanged and consequently the trimmed image ends up with an invalid WCS, e.g.:

[code]

The documentation in https://github.com/astropy/ccdproc/blob/master/docs/ccdproc/ccddata.rst includes the statement "E

[2016-01-15 09:52] crawfordsm commented on #281
Thanks @AnthonyHorton for the report.   The NAXIS should definitely be changed and the wcs updated (or at the very least a warning raised when trim is used with an object with wcs).   I know there is a large pull request underway with `astropy.nddata`, but if you have more details on what needs to change or can submit a PR (either here or at astropy.nddata), please go ahead.

[2016-01-15 10:43] MSeifert04 commented on #281
I don't get how ``trim_image`` can alter the WCS at all, since https://github.com/astropy/ccdproc/blob/master/ccdproc/core.py#L300 only slices data, mask and uncertainty. Even if it somehow tries to slice the ``CCDData`` it would just forward the slicing to the attribute saved as ``wcs`` so the problem probably resides inside ``astropy.wcs.WCS``.

[2016-01-15 10:45] AnthonyHorton commented on #281
I've done some poking around and it looks like the place to fix this is indeed `astropy.wcs.WCS.slice()`. `ccdproc.trim_image()` is relying on the slice functionality of `ccdproc.CCDData` which is inherited from `astropy.nddata.NDDataArray` which is inherited from `astropy.nddata.NDData` which relies on the individual classes of its attributes implementing their own slicing functionality which lea

[2016-01-15 11:03] MSeifert04 commented on #281
I just realized what happened.

You have no ``,`` between the ``CCDData`` and ``section`` so you are using ``trim_image`` just as a mean of copy the image and adding a header keyword. Since the ``,`` is neglected in the documentation of the function (https://github.com/astropy/ccdproc/blob/master/ccdproc/core.py#L278) it seems like the preffered way but then the whole part inside the ``if`` in htt

[2016-01-15 11:15] AnthonyHorton commented on #281
@MSeifert04 As I understand it out the optional second to `trim_image` simply gives you the option of specifying the slice in FITS style (X before Y, 1 based) instead of numpy style (Y before ZX, 0 based). In my example I was just using numpy style slicing, hence no `,`.  The bug would occur just the same either way because the actual work is being done by the slicing functionality inherited from

[2016-01-15 11:19] MSeifert04 commented on #281
@AnthonyHorton - No the bug be worse since the ``if`` does not try to slice the ``WCS`` at all. Hence there the ``WCS`` would not even have altered ``CRPIX`` values.

[2016-01-15 11:33] AnthonyHorton commented on #281
@MSeifert04 You're right, I hadn't looked at the `fits_section` execution path as I'd never used it. I'll add WCS slicing there as well as trying to get the implementation of WCS fixed in `astropy.wcs.WCS`.

[2016-01-15 11:41] MSeifert04 commented on #281
@AnthonyHorton - Probably it should be just a ``trimmed = trimmed[python_slice]`` inside the ``fits_section`` execution path instead of slicing all the seperate attributes. That way both let ``CCDData.__getdata__`` (or it's superclasses) take care of slicing and thus yield similar results.

Nevertheless if you can fix and submit a PR for ``astropy.wcs.WCS`` that would be great - I could do a PR fo

[2016-01-15 14:48] AnthonyHorton opened #283 "Arithmetic between CCDData objects with WCS fails even with identical WCS"
The CCDData arithmetic functions cannot be used with CCDData objects that have WCS even if the WCS are the same. Example:

    In [10]: ccd = ccdproc.CCDData.read(path, unit='adu')
    WARNING: FITSFixedWarning: 'datfix' made the change 'Changed '' to '2014-10-17''. [astropy.wcs.wcs]

    In [11]: ccd2 = ccd.copy()

    In [12]: result = ccd.subtract(ccd2)
    -------------------------------------

[2016-01-15 14:53] dokeeffe commented on #283
When 204 gets fixed it will probably fix this too
https://github.com/astropy/ccdproc/issues/204

[2016-01-15 15:02] AnthonyHorton commented on #283
@dokeeffe Huh, somehow didn't find #204 when I search for existing issues describing this problem. This is a closely related but slightly different issue, though, i.e. implementing `__eq__()` and `__ne__` in `astropy.wcs.WCS` would fix this but not #204 whereas removing the exception from `astropy.nddata.NDArithmetic._arithmetic` WCS equivalence check would fix both (in a somewhat unsatisfactory w

[2016-01-15 15:11] MSeifert04 commented on #283
@AnthonyHorton - I'm currently working on the ``NDArithmeticMixin`` to make the ``check_wcs`` optional. But I still think there should be an ``__eq__`` function in ``astropy.wcs.WCS`` since even if the check is optional it would be nice to have some way of comparing two ``WCS`` instances.

[2016-01-15 15:30] AnthonyHorton commented on #283
@MSeifert04 I agree, I think the both are needed.  Making the WCS check in `NDArithmeticMixin` optional handles the issue with flat fielding, dark subtraction, etc. (i.e. #204) but for the rest of the time when you do want to ensure you have compatible WCS a functional `__eq__()` for `astropy.wcs.WCS` is required.

[2016-01-16 20:45] #278 closed

[2016-01-19 19:40] crawfordsm commented on #202
closed in #277

[2016-01-19 19:40] #202 closed

[2016-01-19 20:57] crawfordsm commented on #185
- [ ] update CCDData documenation where it refers to NDData
- [ ] add example of CCDData arithmetic to documentation and warning about how WCS is handled

[2016-01-19 21:17] souravsingh commented on #185
Thanks for the checklist @crawfordsm

[2016-01-21 08:18] crawfordsm commented on #204
Closed by #285

[2016-01-21 08:18] #204 closed

[2016-01-21 08:18] crawfordsm commented on #283
closed by #285

[2016-01-21 10:30] AnthonyHorton commented on #283
@crawfordsm I don't think this should be closed by #285.  That handles the case where you want to disable WCS checking (i.e. #204) but doesn't solve the problem for when you do want WCS checking (this issue).  That still won't work due to upstream issues (astropy/astropy#4499) which will be fixed by astropy/astropy#4503 (for 1.0.x/1.1.x) or @MSeifert04's astropy/astropy#4272 for 1.2+

[2016-01-21 12:11] crawfordsm commented on #283
Sorry, I should have been descriptive in closing it.   As there are open pull requests upstream to fix this and #285 should work with those fixes, I've closed this as there isn't anything more to do in ccdproc.  If you feel it should stay open until those upstream issues are merged, I'm happy to re-open it.

[2016-01-22 03:52] AnthonyHorton commented on #283
@crawfordsm No worries, just a different interpretation of what closing the issue means I think.  My personal inclination would be leave it open until an upstream fix is merged so that it's more obvious to a user searching here that this is an current issue without a fix available, yet.  I don't have strong feeling on this though and hopefully it'll be moot soon, astropy/astropy#4503 is ready for

[2016-01-23 08:55] souravsingh commented on #235
I can make a quick pull request for this. @mwcraig Can you tell me if anything more needs to be written?

[2016-01-24 02:57] mwcraig commented on #235
@souravsingh -- great! I think all you need to do is delete the parts of the documentation that mention the `Keyword` class. Initially we thought it might be useful but it turned out not to be.

[2016-01-24 19:39] mwcraig opened #286 "Update affiliated package registry to indicate API is stable"
The registry is at: http://www.astropy.org/affiliated/index.html

[2016-01-25 23:29] mwcraig opened #288 "Drop support for python 2.6 and 3.3"
We should definitely drop 2.6. I don't see much point in continued support for 3.3. Would help address the fails in #287

[2016-01-25 23:30] mwcraig opened #289 "Drop support for older versions of numpy (1.7 and 1.8)"
By this I mean drop testing, and update the minimum version in setup.py. Also helps with #287.

[2016-01-27 18:55] #283 closed

[2016-01-28 12:22] crawfordsm commented on #288
Agreed.

[2016-02-02 19:40] mwcraig commented on #289
Just drop this from tests, no need to put the restriction in `setup.py`

[2016-02-02 19:50] mwcraig commented on #281
@AnthonyHorton @MSeifert04 -- was this closed by #282?

[2016-02-02 19:54] MSeifert04 commented on #281
@mwcraig No, unfortunatly the issue is still under discussion in https://github.com/astropy/astropy/issues/4498.

[2016-02-02 19:56] mwcraig commented on #129
See astrofrog/reproject#68 for discussion of flux conservation.

[2016-02-03 00:38] MSeifert04 opened #291 "CCDData Arithmetics (add/subtract) with Quantity"
I think something is wrong when using CCDData arithmetics with Quantities (at least addition and subtraction):

[code]

This should be 10.01 meters.

[2016-02-04 09:03] olebole opened #294 "test failure with numpy 1.11.0 beta 2"
With the new beta release of numpy (which just entered Debian unstable), I get the test failures due to using `numpy.float64` as index:
[code]
This happens in `test__blkavg_larger`, `test_cosmicray_lacosmic`, `test_cosmicray_lacosmic_does_not_change_input`, `test_cosmicray_lacosmic_gbox`, `test_cosmicray_lacosmic_rbox`, and `test_cosmicray_lacosmic_ccddata`
Using non-integers was already deprecate

[2016-02-04 13:06] Punyaslok commented on #235
@mwcraig Can you please tell me why some checks were not successful even though I only modified one file, which was a .rst file ?

[2016-02-04 20:52] Punyaslok commented on #213
Hi! I'm a newbie to Open Source.
Can you tell me how you're planning on executing this?
Do you plan on extracting all the names of contributors with merged pull requests for storage/display?

[2016-02-06 17:57] Punyaslok commented on #291
Hi! I would like to work on this issue. It also happens when when I try among many other units, for example : kg + lb.
`ccdproc.CCDData(1, unit='kg').add(1*u.imperial.lb).data` gives output as 2. Is there a conversion function built-in or do we have to make them for all the physical quantities ?

[2016-02-09 20:35] crawfordsm opened #298 "Release of 0.4 of ccdproc"
As their have been many updates and a lot of new contributions (thanks everyone!), @mwcraig and I are hoping to release a version of ccdproc at the end of the month (of course this is likely to get slightly delayed).   We have decided to do a feature freeze today and punt any issues that we don't think we will be able to get done or won't get done before the feature freeze.

We will still try to a

[2016-02-09 21:11] bsipocz commented on #289
Since #287 is removed these from the test matrix, and got merged, this can be closed.

[2016-02-09 21:14] crawfordsm commented on #294
closed by #295

[2016-02-09 21:14] #294 closed

[2016-02-09 21:15] crawfordsm commented on #289
closed by #287

[2016-02-09 21:15] #289 closed

[2016-02-09 21:15] crawfordsm commented on #288
closed by #287

[2016-02-09 21:15] #288 closed

[2016-02-09 21:16] crawfordsm commented on #235
closed by #296

[2016-02-09 21:16] #235 closed

[2016-02-09 21:17] bsipocz commented on #288
@crawfordsm @mwcraig - Does this issue also means that the 2.6 workarounds can/should be removed?

[2016-02-09 22:02] mwcraig commented on #288
Yes, that would make sense.

[2016-02-09 22:12] bsipocz opened #301 "Use confidence maps rather than binary masks"
Future feature request:
 - Ideally we could aim to use confidence maps rather than binary masks and use them as weights for combining images, etc.

[2016-02-09 22:34] bsipocz commented on #298
@crawfordsm - I'm not sure I'll have time until the end of the month to test ccdproc in production code/data, but happy to help with any infrastructure issues that come up before the release.

[2016-02-11 14:15] MSeifert04 commented on #196
I have been using something [like this](https://github.com/MSeifert04/pymsastro/blob/master/pymsastro/image/ndimage.py#L16) for a while now. If requested I could alter that so it fits the current [``CCDData.to_hdu``](https://github.com/astropy/ccdproc/blob/master/ccdproc/ccddata.py#L192). But I wasn't sure about some points - simply because I'm not very familiar with the FITS standards - and there

[2016-02-11 14:42] crawfordsm commented on #196
Okay I've spent some time reading through the [FITS standard](http://fits.gsfc.nasa.gov/fits_standard.html), and there doesn't seem to be any definition for how to handle masks or uncertainty frames.   So we are relatively free to do what we want.

I don't think in the 0.4 release we will handle MEF files that have multiple images in it, and I think they should be handled differently (and may end

[2016-02-11 15:45] MSeifert04 commented on #196
Yes, I do have some spare time and think I can make a commit later.

[2016-02-11 20:04] MSeifert04 commented on #291
@Punyaslok - The astropy.units framework provides many ways to convert units. If you would like to work on this issue you can have a look at [astropy 1.2 NDArithmeticMixin](https://github.com/astropy/astropy/blob/master/astropy/nddata/mixins/ndarithmetic.py#L330) for inspiration how one could do it.

[2016-02-11 21:08] #196 closed

[2016-02-11 22:01] MSeifert04 opened #304 "CCDData.read and write API documentation is missing"
See also https://github.com/astropy/ccdproc/pull/302#issuecomment-183057798.

[2016-02-11 22:05] MSeifert04 commented on #298
- #303 should be included for 0.4 (forgot to include the changes.rst)
- #304 if anyone knows how to include the documentation for the ``CCDData.read`` and ``write`` this should be included.
- #291 would be nice to fix this as well.

[2016-02-11 22:10] MSeifert04 commented on #304
A bit more background. The ``read`` and ``write`` are defined in [``astropy.nddata.mixins.NDIOMixin``](https://github.com/astropy/astropy/blob/master/astropy/nddata/mixins/ndio.py).

The problem is that these are just wrapper for a registry that should ideally parse arbitary files. For ``ccdproc`` we register FITS files with the *documented* functions [``fits_ccddata_reader``](https://github.com/a

[2016-02-15 18:26] MSeifert04 commented on #291
@Punyaslok - I hope you don't mind that I've pushed a PR concerning this issue. I was working on #305 and thought I might also include a fix for this issue.

[2016-02-15 21:32] #304 closed

[2016-02-16 20:04] #291 closed

[2016-02-17 20:43] MSeifert04 opened #309 "Combiner and resulting uncertainty"
I've used the ``ccdproc`` combiner today and compared it to what I had for results using my custom combination (before I found out about ccdproc) and noticed the uncertainty of the ``ccdproc``-combine result is much higher than my custom one. After some investigation I found a possible explanation:

I've always used ``1/sqrt(n-1) * np.std(...)`` instead of ``np.std(...)``. I always thought the sta

[2016-02-17 23:47] evertrol opened #310 "Documentation for the `add_keyword` argument is confusing"
The documentation for the `add_keyword` argument used in various functions is incorrect, or at least confusing. It says the following:

The function signature, however, shows the following:

    ccdproc.somefunction(..., add_keyword=None)

That indicates that the default is already `None`, and the two sentences in the doc string disagree with each other.

It took a bit of searching and reading thr

[2016-02-18 09:36] crawfordsm commented on #309
@MSeifert04 you are right.  That's a bug and should be fixed.

[2016-02-18 14:47] MSeifert04 commented on #301
@bsipocz - Do you mean confidence maps instead of the binary masks or keep both?

[2016-02-18 14:58] bsipocz commented on #301
@MSeifert04  - I would think to have only the confidence map. One can easily use it as a binary mask if needed where all non-1 values (or all values below a threshold) can represent masked pixels.

Maybe a method ``use_as_binary()``, or ``as_binary`` or similar would make some sense is there is a need for having the binary mask.

[2016-02-18 15:06] MSeifert04 commented on #301
I had something in mind like:

[code]

The big issue here would be backwards-compatibility and the easy access as ``np.ma.MaskedArray``. But of course accessing ``CCDData.mask`` will require at lot more computation time.

[2016-02-22 12:03] crawfordsm commented on #310
Sorry @evertrol I thought I did reply to this.  My option would be for number 3 right now if you want to see this fixed in the next release.   I think that would result in the least amount of major changes to the code and little change in how the functionality works.

If that isn't satisfactory close to this, we can then review how the keyword logging is handling for the next release and see if an

[2016-02-23 22:06] crawfordsm commented on #310
Closed with #312, but feel free to re-open or open a new issue if you do feel like this should be addressed differently in the future.  Thanks @evertrol !

[2016-02-23 22:06] #310 closed

[2016-02-25 16:48] souravsingh commented on #213
@mwcraig SymPy has a script which allows for adding Authors to the list based on the logs from git.It would be nice if we can make use of the script.

[2016-02-25 21:28] mwcraig commented on #213
@souravsingh -- that sounds like a good plan, do you want to give it a try and open a PR? I think what we had in mind is a file like https://github.com/astropy/astropy/blob/master/docs/credits.rst

I don't think we need a copy of the script to do so in ccdproc itself, but if you could document how you generate it in the [ccdproc wiki](https://github.com/astropy/ccdproc/wiki) when you create the PR

[2016-02-26 14:08] souravsingh commented on #213
I have sent the PR. The PR is available at #313

[2016-03-01 19:39] mwcraig opened #314 "Add known issues for 0.4"
+ [ ] Cannot overwrite files on Windows.

[2016-03-01 20:12] mwcraig commented on #314
Closing in favor of adding a short note in the relevant part of the docs for the overwrite issue.

[2016-03-01 20:12] #314 closed

[2016-03-01 20:15] mwcraig commented on #185
@crawfordsm -- could you also do this?

 + [ ] In the last numbered point of https://github.com/astropy/ccdproc/blob/master/docs/ccdproc/image_management.rst add a note that overwriting does not work on Windows.

Seems to make more sense than adding a separate known issues page for one known issue...let me know if you want me to do it.

[2016-03-01 20:32] crawfordsm commented on #185
will do

On Tue, Mar 1, 2016 at 10:15 PM, Matt Craig <notifications@github.com>
wrote:

[2016-03-01 21:54] #129 closed

[2016-03-01 22:00] crawfordsm opened #316 "Shortcuts for image manipulation"
It would be nice to have some shortcuts for doing simple image manipulation like shift, magnify,or rotate.  These likely already exist in other packages and just need to be wrapped for CCDData objects

[2016-03-01 22:27] #309 closed

[2016-03-01 22:29] #248 closed

[2016-03-02 20:46] #185 closed

[2016-03-02 23:17] #219 closed

[2016-03-08 23:55] #276 closed

[2016-03-13 18:45] mwcraig commented on #286
Can be closed when astropy/astropy.github.com#98 is merged. This should not hold up our release of 0.4, though.

[2016-03-13 20:21] #213 closed

[2016-03-13 21:43] #251 closed

[2016-03-14 12:50] crawfordsm opened #326 "arithmetic with ndarray"
Currently arithmetic between an ndarray and CCDData object is not possible, but raises an error when it is attempted.   It does raise a sensible error, but this might be functionality that we do want to enable.

[2016-03-15 15:35] mwcraig commented on #326
My main question here would be how to handle units; certainly it ought to be possible at a minimum to do something like `ccd.add(my_numpy_array * u.adu)`. Should we maybe use the `@support_nddata` decorator for this?

[2016-03-15 15:49] MSeifert04 commented on #326
I've solved it during the `NDArithmetic`-Rafactoring by just converting the operand to another instance of the same class ``operand = self.__class__(operand)``. This would automatically handle units/masks/etc appropriatly while raising errors in case it is not convertible. Which should be fine because I cannot think how such an operation should be defined if the class doesn't know how to interpret

[2016-03-15 18:01] #286 closed

[2016-03-15 18:44] #298 closed

[2016-03-16 02:01] evertrol commented on #298
Has this now been tagged 1.0 instead of 0.4?

[2016-03-16 02:04] mwcraig commented on #298
yes -- and 1.0.1 is now out because of a minor packaging issue.

[2016-03-16 02:06] mwcraig commented on #298
Announcement coming as soon as the conda package is built, looking like that will be morning.

[2016-03-16 02:07] evertrol commented on #298
Does that also mean the API is considered stable now, and won't change until ccdproc 2.x?
(Asking since I've recently bumped into such an issue where a version 1.0 had an API change in what should I'd normally consider a bug-fix release.)

[2016-03-16 02:17] mwcraig commented on #298
Yes; we'll try hard not to make unintentional API changes. I could imagine backwards-compatible API changes happening in minor releases like 1.1 -- for example, adding a keyword argument to a function whose default value preserves the old behavior -- wand adding new functionality into minor version releases.

If wider usage some big API problems I'd lean towards a 2.0 release (though I haven't dis

[2016-03-16 09:40] crawfordsm commented on #298
@evertrol , I'm going to open a separate issue, but yes, for the v1.0 release I expect to have  stable API.   Any changes to the existing functions will either be behind the scenes or will add a parameter where the default functionality does not change how it works.

[2016-03-16 09:43] crawfordsm opened #330 "Test for API stability"
A test should be added that should fail if the API is changed for any task in v1.0.    Any additions should support backward compatibility or trigger the start of the version 2.0.

[2016-03-16 12:08] augustfly opened #331 "Tiny bug in AUTHORS.rst"
Just a small bug in ccdproc/AUTHORS.rst

=>

[2016-03-16 14:25] #331 closed

[2016-03-16 14:25] crawfordsm commented on #331
Nice catch @augustfly and thanks!

[2016-03-16 14:49] augustfly commented on #331
no problem. i'm starting a project to log how software teams craft author lists and deal with credit, so I tend to notice/follow these kind of links!

[2016-03-16 22:10] crawfordsm commented on #331
It was a great catch.  We have just had discussions about this and if you'd like to know any details, I'll be happy to share them.

[2016-03-16 22:36] crawfordsm opened #334 "Saturated star tails"
As suggested by [Micahel Roberts](https://twitter.com/michealjroberts/status/710046816713240576), a function to either identify or correct star trails created by the read out of saturated stars.

[2016-03-18 06:29] evertrol opened #336 "meta attribute is inconsistent"
The fact that the `meta` attribute can be `dict`, an `OrderedDict` or a `astropy.io.fits.Header` instance has irked me on occasions. In particular because the three types are incompatible with each other.

This means at times that one has to either do a manual conversion, or test the type of the meta attribute, before performing some operations. Case sensitivity may be one issue to run into (issue

[2016-03-21 14:45] crawfordsm commented on #336
I've typically mainly used the meta attribute basically as a FITS header and so I am hesitant to move too far away from that.   From my experience, this is what the average user will expect (as they will be opening up data from a FITS file I would guess)  but that is totally due to my own bias.

I'd agree that having an object that can operate in multiple different ways is bad for the downstream u

[2016-03-28 03:59] evertrol commented on #336
I agree that most people will use data read in from a FITS file, and thus have a FITS header object as meta.

But if there is ever an alternative data format (HDF5, NDF), a FITS header will probably be inadequate. (It's also unPythonic, with e.g. its case insensitive keys. Which can be confusing for people with Python knowledge bit little to no FITS knowledge.)
The aforementioned issue #156 also s

[2016-03-28 05:38] cdeil opened #338 "Docstring formatting issue"
Have a look at  http://ccdproc.readthedocs.org/en/latest/api/ccdproc.ccd_process.html ... there's some formatting issues with the docstring:

<img width="697" alt="screen shot 2016-03-27 at 22 35 23" src="https://cloud.githubusercontent.com/assets/852409/14071679/47dc834c-f46c-11e5-9053-b7889bf33943.png">

For the bullets you have to add an empty line above.
For the parameter types, you have to ad

[2016-03-28 07:07] bsipocz commented on #338
@cdeil - even if there's a way I don't know what it is rather than the reviewer spots them in time.
 Syntactically both ways are right and sphinx just happens to render one of them.

[2016-03-29 18:59] mwcraig commented on #336
I think the main argument for allowing (but not requiring) the metadata to be a FITS header was to ensure that they could round-trip reasonably intact. IIRC #156 came from the API doc we put together for ccdproc, and at the time I know I was thinking of the meta as a particular type.

We ended up duck typing after trying (I think) an OrderedDict, a dict and something that was sort of FITS Header-l

[2016-03-31 21:45] crawfordsm commented on #338
NIce spot @cdeil

Maybe a utility to add to astropy helpers to run to look for things like this?

[2016-03-31 21:50] bsipocz commented on #338
@crawfordsm - I'm :-1:  on this as I don't  think that astropy_helpers is a place for convenience scripts like this.
A more appropriate place for it would be https://github.com/astropy/astropy-tools.

[2016-04-01 02:43] evertrol commented on #336
A argument may indeed work (possibly not only to `CCDData.read`, but I think that's really the only place where `meta` is implicitly created. I'll have an attempt at this.)

I'm also looking at the possibility of having the `meta` attribute as a `dict`, while having the `header` attribute always as a `fits.Header`. Since these are accessed through properties, it may be possible to transparently up

[2016-04-01 07:33] cdeil commented on #338
I've split the feature request for a tool that automatically checks docstring formatting to
https://github.com/astropy/astropy-tools/issues/11

[2016-04-05 20:22] crawfordsm commented on #336
@evertrol if you have a chance and want to suggest a PR, I think it would be interesting to see it and further discuss it.   I think the one thing that we would want is to keep the connection between `.meta` and `.header` even if one is always a dict and one is always a FITS header-like.

[2016-04-06 09:55] Cadair opened #340 "Combiner class dosen't work with >2D data."
It seems to be because of this: https://github.com/astropy/ccdproc/blob/master/ccdproc%2Fcombiner.py#L97

[2016-04-06 10:36] crawfordsm commented on #340
Well, I don't think we were initially expecting it to work with >2D data, so that might explain it.  I don't really see a problem with removing that requirement and generalize the task.  If you have time to submit a PR, please feel free to do so, but if not, I'll add it to the todo list.

[2016-04-17 21:46] MSeifert04 opened #342 "hasattr(..., '__call__') in transform_image"
`hasattr` is generally considered not very good style [[1]](http://bugs.python.org/issue7006), [[2]](https://hynek.me/articles/hasattr/) and [[3]](https://news.ycombinator.com/item?id=10893226) (and probably more) and it might have some unwanted-side-effects. It's used in [transform_image](https://github.com/astropy/ccdproc/blob/master/ccdproc/core.py#L750) to find out if the input is a callable.

[2016-04-18 16:20] MSeifert04 commented on #338
I haven't seen this issue but I think in #341 this will be fixed. Is there a way post-first-commit to link this issue as `Fixes ...` to the PR?

[2016-04-18 17:12] bsipocz commented on #338
@MSeifert04 - You can do it in the commit message of any of the commits. [0] Alternatively you can always edit the text of the PR, and do it there. [1]

[0] - https://help.github.com/articles/closing-issues-via-commit-messages/
[1] - https://github.com/blog/1506-closing-issues-via-pull-requests

[2016-04-18 17:20] MSeifert04 commented on #338
@bsipocz Thank you.

[2016-04-19 07:27] MSeifert04 opened #343 "Regression test failure: CCDData.meta.setter"
There is a test failure because of the newly merged https://github.com/astropy/astropy/pull/4509

It's pretty easy to fix:

- Delete `meta.setter` and rely on `NDData`
- Change `meta.setter` to use an `OrderedDict` (instead of `{}`) if `None`

Actually I find it rather strange that (before the newest astropy-master) during init `meta` defaults to `OrderedDict` but if manually set on the attribute

[2016-04-19 18:42] #343 closed

[2016-04-19 19:04] mwcraig commented on #336
@evertrol -- could you provide an example of where you've run into the header type inconsistency being an issue? We're trying to better understand the broader problem that your PR is solving.

I do understand that there is is an issue that needs to be addressed regardless of issuing a warning if data is going to be lost when meta is converted to a `Header` (assuming meta isn't already a `Header`)

[2016-04-20 19:44] mheida opened #345 "flat_correct doesn't normalize flat field for uncertainty array"
When using flat_correct on an image with an uncertainty array the flat field is normalized before the data is divided through it, but not for the uncertainty array.

[2016-04-20 19:47] crawfordsm commented on #345
Thanks for pointing this out.  If you are interested in putting in a PR to fix this please let us know.  Otherwise we will fix it as soon as we can as this is a bug.

[2016-04-26 09:14] MSeifert04 commented on #345
I think this is already fixed in astropy: https://github.com/astropy/astropy/issues/4152

[2016-05-02 01:12] MSeifert04 opened #346 "Fixture caplog not found"
I've just tested my currently open astropy PRs if they break ccdproc and it seems it's just one doctest that get's crashed but I'll submit a fix for that in case the relevant PR will be merged.

But besides that: I've noticed a test that raised an Error:

[code]

[2016-05-03 19:33] #338 closed

[2016-05-04 08:17] evertrol commented on #336
@mwcraig There is no direct example of where this becomes an issue for me: I can easily work around things, since I can keep track of the type of `meta`, or simply check it beforehand.

It's mostly an itch that I'd like to scratch, since from an API/developer point of view, having an attribute behaving in multiple ways (depending on what's been done to the CCDData object), feels awkward. I'd also

[2016-05-11 18:31] wschoenell opened #347 "minor suggestion on lacosmic"
Can I suggest to change the default value of the saturation level from `satlevel=65536.0` to `satlevel=65535.0`? All CCDs that I've seen on my life have saturation 65535 which is the maximum unsigned 16 bit value (2^16 - 1).

https://github.com/astropy/ccdproc/blob/09d9f608195a4cc50d07a5f6ced40061ece5277e/ccdproc/core.py#L1159

[2016-05-11 21:20] crawfordsm commented on #347
Thanks @wschoenell -- if you would like to make a pull request with the change, we would accept it. (and also happy to help you do it).  Otherwise, we will make the change first chance we get.

[2016-05-11 21:52] wschoenell commented on #347
Ok. Done.

[2016-05-12 16:38] #347 closed

[2016-05-17 19:19] mwcraig commented on #345
I'll add logic in ccdproc to handle it if `astropy<1.2` in case there are users counoting on the astropy LTS (1.0.x).

[2016-05-21 22:44] MSeifert04 commented on #346
Do I need a special pytest plugin for those?

[2016-05-21 22:53] mwcraig commented on #346
yes, it is pytest-capturelog I think. Am planning to rewrite those tests soon to check the same thing a different way to remove that dependency.

[2016-05-23 21:50] mwcraig opened #351 "CCDData images returned by combiner cannot be written as FITS files"
The details needed to reproduce this are below, but at a high level, this is what is going wrong (and why, I think, we didn't notice it earlier).

+ The methods in the `Combiner` class that actually do the combining, like `average_combine`, use (appropriately) the numpy masked functions, e.g. `np.ma.average`, to calculate the `uncertainty`.
+ The result is, of course, a numpy masked array.
+ We se

[2016-05-23 22:12] MSeifert04 commented on #351
@mwcraig I'm doing some checks, do you happen to know if this affects only astropy 1.1 or also 1.2 (dev)? I've altered the setter for uncertainties recently (https://github.com/astropy/astropy/blob/master/astropy/nddata/nduncertainty.py#L133) especially to catch these problems.

[2016-05-23 22:15] mwcraig commented on #351
I only tried it with 1.1.2, but it does look like it will be fixed in 1.2.

[2016-05-23 22:22] MSeifert04 commented on #351
Yes, I've installed the dev version of astropy and ccdproc and apart from 6 warnings there is no exception and the file looks "good". I probably need to investigate why 6 warnings. There shouldn't be 6, I expected 2.

[2016-05-23 22:22] mwcraig commented on #351
Ah, the joy of coding...

[2016-05-23 22:37] MSeifert04 commented on #351
ah, at least the 6 warnings are ok. I missed that ``hasattr`` also called ``uncertainty.unit``.

And each ``uncertainty.unit`` checks if a parent is avaiable (1 Warning) and then get's the parents unit (another warning).

Doesn't help solving this Bug though. Should I push a fix or a you planning on providing it?

[2016-05-23 22:40] mwcraig commented on #351
I'll never say no to a fix 😄

[2016-05-24 19:52] #351 closed

[2016-05-31 19:25] jmccormac01 opened #355 "writing .fts files format not understood"
A while back I submitted a PR for adding .fts support to the image collection code. Today I've finally gotten back to testing ccdproc with some real data. I've spotted that writting .fts files also seems to not be possible, see below:

[code]

I had a look in the CCDData.write code and could not see anything that might cause the issue. A quick grep shows this might come from astropy.io registry. H

[2016-05-31 21:21] mwcraig commented on #355
@jmccormac01 -- thanks for reporting this. What you fixed before was the list of extensions that `ImageFileCollection` recognizes as fits files....it never occurred to me until your issue that we should probably also make sure we register all of those extensions with the `CCDData` readers/writers!

The magical lines are at https://github.com/astropy/ccdproc/blob/master/ccdproc/ccddata.py#L708

If

[2016-05-31 21:38] jmccormac01 commented on #355
It never occurred to me at the time of the initial PR that this might propagate into the CCD data handling. I should have realised. Ok great, thank you. Hopefully all three extensions (.fit, .fits and .fts) should be ok.   It would be nice if fits had one extension. This reminds me of https://xkcd.com/927/ ;)

[2016-05-31 21:48] bsipocz commented on #355
@jmccormac01 -  Have you tried to pass the ``format`` keyword in your command ``ccd.write('obj_'+f, clobber=True, format='fits')``?

As I see Table.write('zizi.fts', format='fits') works perfectly fine, and it seems to be using the same ``io_registry.write()`` mechanism.

[2016-05-31 22:08] jmccormac01 commented on #355
@bsipocz your suggestion worked perfectly.

[code]
where f is the same filename as before.

[code]

[2016-06-01 09:11] MSeifert04 commented on #355
@mwcraig What about altering the [auto-identifier](https://github.com/astropy/astropy/blob/master/astropy/io/fits/connect.py#L53) to also accept `.fts`. Currently allowed are _case insensitive_ ['.fits', '.fits.gz', '.fit', '.fit.gz'](https://github.com/astropy/astropy/blob/master/astropy/io/fits/connect.py#L73).

Maybe one could also use this `is_fits` in the imagefilecollection?

[2016-06-03 01:36] joshwalawender opened #356 "Question about minmax rejection in ccdproc.combine"
I'm working on removing IRAF dependency in some code and I want to replace use of the pyraf/IRAF imcombine task.  I need to maintain compatibility with existing code, so I want to implement the rejection options in the same way as IRAF imcombine does.

For the minmax rejection option, it looks to me as if IRAF and ccdproc treat this very differently.  In ccdproc, it masks pixels with a value above

[2016-06-03 11:24] sylvielsstfr opened #357 "How can I produce a master dark from many darks ?"
Hi  Steve and Matt,

I am using the ccdproc python package since last week. I understand how to generate a master bias from many bias files. I have checked that the substraction of darks with the master-dark gives the expected residuals xith zero average and very narow RMS.

However, I don't see how i can combine a set of darks having different exposures to produce a master-dark say for a unit exp

[2016-06-03 12:20] sylvielsstfr commented on #357
OK, I have seen your jupyter notebook here

http://nbviewer.jupyter.org/gist/mwcraig/06060d789cc298bbb08e

I probably have to do something with  the biassec and trimsec to the biases before combining them into a master bias file.
Now I understand better how to proceed.

For the darks, I had series of swept Exposure. I will keep these exposure inside a numpy array indexed by the file number.

I wil

[2016-06-03 13:17] crawfordsm commented on #357
Thanks Sylvie -- let us know if you have any questions although I think that notebook may be a little out of date. The master dark can be created using the `combine` task and then subtracted using the `subtract_dark`  scaling by the exposure time.

However, overscan and master bias subtraction should be done before that step.

[2016-06-03 13:27] crawfordsm commented on #356
Yes the current min/max just cuts at values and not N values,  If you would like to contribute it (it should be just a small function to add to combine) we would definitely welcome it!

[2016-06-03 19:15] joshwalawender commented on #356
Ok, great.  I've already forked the repo and have started putting some code in.  I could eventually use some advice on what to name the method to make it clear what is happening.

[2016-06-08 09:15] jmccormac01 opened #359 "Astropy header cards VerifyWarning"
Hi guys,
I get the following warnings from Astropy from several methods when reducing data with ccdproc. I don't think it is a major issue and it seems that astropy handles them? Just a heads up.

Cheers
James

[code]

[code]

[code]

[2016-06-08 21:46] sylvielsstfr opened #360 "Check if I can combine and rescale darks like this to build Master Darks of any exposure"
Hi,

I found very usefull your jupyter notebook on "ccdproc Example Reduction".
In it, you have darks corresponding to different exposure times which are similar to the exposure of science images.

In my case the darks were taken as a scan over exposure time from 1 second to 240 s.
My science images may not have their corresponding  sets of darks at the same exposure.
I should probably use all my

[2016-06-10 21:17] mwcraig commented on #359
@jmccormac01 -- thanks for the report. These come up because the logging done by default in ccdproc adds a keyword whose name is the name of the routine that did the reduction, and fits doesn't allow keywords whose names are longer than 8 characters. I thought we had some mechanism for working around that, will look into it.

I assume you aren't doing anything custom with the logging?

[2016-06-10 21:22] mwcraig commented on #355
@MSeifert04 -- agree in the long term. In the short run, might just implement `.fts` here to keep things moving.

[2016-06-10 21:36] mwcraig commented on #360
@sylvielsstfr -- let me start by restating the question just to make sure I understand it properly: Rather than choosing one of the darks and scaling that to the exposure time of the science image, you want to use all of the darks you have (which span a wide range of exposures) to create a single dark at the exposure time you need for the science image by scaling all of the individual darks to the

[2016-06-18 08:18] mrkite92 opened #361 "ccdproc fails with error "operand units do not match""
[Archive.zip](https://github.com/astropy/ccdproc/files/321651/Archive.zip)

Hi ccdproc gurus,

I work on Mac with latest version of OS and Python 2.7 ressources linked to ccdproc. I wrote a short script to deflat a few images, and I got:

Traceback (most recent call last):
  File "deflat.py", line 34, in <module>
    data_exposure = img_expos)
  File "/opt/local/Library/Frameworks/Python.framework

[2016-06-19 22:56] mwcraig commented on #361
@mrkite92 -- thanks for the report, I'll take a look on Monday.

[2016-06-19 22:56] mwcraig commented on #361
Could you please let me know what version of astropy and ccdproc you are using?

[2016-06-20 01:00] mrkite92 commented on #361
Hi Matt,

My ccdproc is 1.0.1, and astropy is 1.1.2

Cheers,
JB

[2016-06-22 15:38] mwcraig commented on #236
Milestoned as 1.1, but not sure this is worth doing separately from a broader documentation rewrite.

[2016-06-22 19:51] mwcraig commented on #345
@mheida -- sorry for the delay. What version of astropy and ccdproc are you using? It looks like this may already be fixed  (or at least when I try to reproduce it with the latest (unreleased) ccdproc it seem to be working).

[2016-06-22 19:58] mheida commented on #345
Both my astropy and ccdproc are version 1.0.1

[2016-06-22 20:33] mwcraig commented on #345
I'm having trouble reproducing the issue -- would it be a hassle to provide a code snippet that reproduces it? What I've been trying is below, in case I'm not correctly understanding when the issue arises:

[code]

[2016-06-22 20:43] MSeifert04 commented on #345
@mwcraig This formula is only half true, you need multiply it with ``dat/flat`` .

With astropy-master:

[code]

[2016-06-22 21:04] mwcraig commented on #345
@MSeifert04 -- thanks, but I *think* that is a slightly different case?   `flat_correct` divides by `flat.mean()` at https://github.com/astropy/ccdproc/blob/master/ccdproc/core.py#L711-L712 (well, technically, it multiplies `dat/flat` by `flat.mean`).

So the case on master should be, I think `>>> res = dat.divide(flat/flat.mean())` (or maybe `flat.data.mean()`).

[2016-06-22 21:06] mheida commented on #345
I get the same result as you, but I noticed that I was using a flat frame without uncertainties and apparently then the errors are propagated differently.

array([[ 10.,  10.,  10., ...,  10.,  10.,  10.],
       [ 10.,  10.,  10., ...,  10.,  10.,  10.],
       [ 10.,  10.,  10., ...,  10.,  10.,  10.],
       ...,
       [ 10.,  10.,  10., ...,  10.,  10.,  10.],
       [ 10.,  10.,  10., ...,

[2016-06-22 21:13] MSeifert04 commented on #345
@mwcraig You are right, I missed that. :disappointed: Looking at @mheida example code it looks a lot like https://github.com/astropy/astropy/issues/4152.

[2016-06-22 21:15] mwcraig commented on #345
@mheida -- ah, that makes sense! Well, the *result* makes no sense, but now I understand why it is happening.

[2016-06-22 21:18] mwcraig commented on #345
@MSeifert04 -- yep, I think that is it, thanks for tracking down the PR. I'm thinking I'll just repeat some of the logic from those fixes in `_ccddata_arithmetic` when the astropy version is less than 1.2.

[2016-06-22 21:25] mwcraig commented on #345
Maybe...in practice I don't do that, FWIW.

[2016-06-27 18:52] mwcraig commented on #361
@mrkite92, finally got around to looking at this today. The issue, as far as I can tell, is that `ccd_process` expects the `master_bias`, etc., to have already been gain corrected. In other words, in `ccd_process` the image you are reducing is multiplied by the gain, but the master images you pass in are not.

The result is that when `ccd_process` tries to subtract the bias it is taking the differ

[2016-06-28 07:09] mrkite92 commented on #361
Hi Matt,

Thanks for this report. I think that both options should be very useful!

Cheers,
JB

[2016-07-01 13:28] #356 closed

[2016-07-01 13:29] #345 closed

[2016-07-01 13:29] #355 closed

[2016-07-01 14:01] MSeifert04 commented on #355
Before this is forgotten because it's now closed: Should I open another issue for astropy? So the `is_fits` recognizes these "unknown" extensions?

[2016-07-01 14:39] bsipocz commented on #234
@mwcraig - I've just double checked, but the warnings still show up except they are now suppressed in the ``nitpick-exceptions`` file.

[2016-07-01 16:08] #346 closed

[2016-07-01 16:16] mwcraig commented on #355
That would be awesome @MSeifert04

[2016-07-01 16:24] mwcraig opened #368 "Add changelog entry for clip_extrema"
https://github.com/astropy/ccdproc/pull/358

[2016-07-06 16:02] mwcraig opened #369 "Add gbox option to cosmicray_lacosmic"
I started playing around with this function yesterday and ran into at least one case where the ability to grow the cosmic ray mask a bit is necessary to fully eliminate CRs without also catching noise. Will post a link to a notebook demonstrating what I was hitting later today.

[2016-07-07 16:05] AlexaVillaume opened #370 "Recreating some IRAF functionality?"
Hi there,

I have some code that relies on IRAF (e.g. median, imcombine, blkrep, ...). I'm planning on rewriting it to be pure python. I looked through astropy and the affiliated packages to see if python versions of the IRAF commands already existed and didn't find anything. Since this package seemed to be the place where IRAF functions would most likely be recreated I thought I'd double check he

[2016-07-07 16:34] crawfordsm commented on #370
It would be great for you to contribute whatever you have and would be wonderful to include it.  The reason some of the functionality may not exist is typically because we have not had time to implement it and so if there is stuff you would like to see in ccdproc, please let us know.   So it's not at all that we do not like them, but either we haven't needed them or just have not implemented them

[2016-07-07 17:21] #361 closed

[2016-07-07 17:58] AlexaVillaume opened #371 "Adding 'median' function"
This is a continuation of what was discussed in issue #370.

I'm going to try to recreate the IRAF task 'median'. I imagine it as essentially being a wrapper to the scipy medfilt2 function.

I'm new to contributing so any suggestions about how best to proceed are welcome!

[2016-07-07 18:19] mirca commented on #371
Hi @AlexaVillaume,

if you haven't contributed to astropy before, you might want to take a look at [How to make a code contribution ](http://docs.astropy.org/en/stable/development/workflow/development_workflow.html).

Best =)

[2016-07-07 18:29] crawfordsm commented on #371
A median function would be a great place to start and it sounds like like wrapping the scipy function would work well.   If you have any questions or would like any help with the intermediate steps, please feel free to post here about any of the steps.

For overall development workflow, the link above is a good place to start.   For ccdproc, I'd suggest taking a look at the functions in core.py in

[2016-07-07 19:30] mwcraig commented on #371
@AlexaVillaume -- good to hear from you! One other place to look is in `combine.py`. I've never used IRAF so I'm not sure what it's median does, but there are some median options for combining already.

The big thing to make sure you do is to create a git branch to work on before you make changes. That makes it infinitely easier to fix any issues down the road.

[2016-07-08 09:47] olebole opened #372 "Doctest fails on cddata.rst"
With the current astropy, I get the following exception when executing the doctest:
[code]

[2016-07-08 09:49] olebole opened #373 "Doctest stumbles upon astropy info message in reduction_toolbox.rst"
When running doctest, I get the following error:
[code]
IMO, the logging should be switched off before.

[2016-07-19 18:22] crawfordsm opened #374 "Allow ImageFileCollections to take a list"
Instead of giving a directory as the entry to ImageCollections, it should also be able to take a list of images so the user can specify exactly what files they want included.

[2016-07-19 19:46] BrunoSanchez commented on #326
Hello,
I think I have an corner case here, I've found this error while coding some image reduction
[code]
And it seems to be related to this issue #326.
I could not find any errors in my code yet:
[code]

Any ideas?
Thanks!

[2016-07-22 02:26] #340 closed

[2016-07-22 02:51] mwcraig commented on #372
Since this type has changed a few times I'm going to show the length of the header instead of showing its `__repr__`.

[2016-07-22 03:03] mwcraig commented on #373
@olebole - I'm having trouble reproducing this...when I run the doctest locally, it passes, and when it runs on CI it also doesn't occur. How  are you running the doctests?

[2016-07-22 10:03] MSeifert04 commented on #373
@mwcraig This is the warning message for the memory leak. Maybe it should have been some more frightening message (Memory leak) instead of this "weakref" hint.

I suspect that the astropy version is > 1.2 with ccdproc < 1.1. This error does not happen with the current master branch of ccdproc or with astropy < 1.2.

[2016-07-22 21:27] MSeifert04 commented on #224
Both combination functions contain an `uncertainty_func` in the 1.0.x branch: [`median_combine`](https://github.com/astropy/ccdproc/blob/master/ccdproc/combiner.py#L303) and [`average_combine`](https://github.com/astropy/ccdproc/blob/master/ccdproc/combiner.py#L379)

[2016-08-01 10:01] #372 closed

[2016-08-01 16:55] mwcraig commented on #373
Closing as it appears to be fixed on master.

[2016-08-01 16:55] #373 closed

[2016-08-02 17:16] rjsdotorg opened #384 "Convenience function for combining arbitrary time-length exposures"
I had at one time combined various length exposures via a scaling factor inversely proportional to exposure time, using masked arrays where each contributing exposure length had clip/mask points (primarily white clip in long exposures and dark in short). Code is long gone... This was simply via an image pre-scale before ma summing. Other scalings are probably useful as well.

The result is high dy

[2016-08-02 20:37] crawfordsm commented on #384
If you can put together a recipe either as a doc page, tutorial, or even just a script, that would definitely be very useful and much appreciated

[2016-08-02 21:16] MSeifert04 opened #385 "Will there be a v.1.1.x branch now that 1.1 is released?"
Great job at the new release of ccdproc! :tada: :+1:

But I've noticed that there is no ``v1.1.x`` branch. I sometimes need to investigate some cross-version issues (especially with astropy 1.2) and having a seperate branch for each major release makes it a bit easier.

[2016-08-02 23:44] mwcraig commented on #385
I've created it but haven't pushed it yet... Coming tonight!

[2016-08-06 00:41] #385 closed

[2016-08-08 13:04] jmccormac01 opened #386 "Possible to write out a header with CCDData.write()?"
Hi guys,
Today after reducing some images with ccdproc I noticed that the ```CCDData.write``` method has no specific option for writing a header with the CCDData array. Is this correct, or am I missing something?

I tried specifying a kwarg combo but it did not like ```header=hdr``` where ```hdr``` is my modified header (```light_travel_time``` update etc).

I know I can write out the image with `

[2016-08-08 13:32] MSeifert04 commented on #386
@jmccormac01 If you use `CCDData.write` the `CCDData.meta` (alias for `CCDData.header`) is written to the same PrimaryHDU as the `CCDData.data` ([relevant code section](https://github.com/astropy/ccdproc/blob/master/ccdproc/ccddata.py#L315)). So you could just set the header :`ccd.meta = hdr; ccd.write(...)` before writing.

Or am I misunderstanding your intentions?

[2016-08-08 13:50] jmccormac01 commented on #386
Ok I see. Thanks for the clarification. This is what I was looking for. The WCS info in this case is not likely to be accurate (spectroscopy, so no astrometric fit), I can try setting it to ```None``` as you suggested. I hadn't noticed the ```unit``` keywords before, I assume they are to say whether the data has been corrected by the gain factor or not?

[2016-08-08 14:13] MSeifert04 commented on #386
I don't know what the rationale for `unit` was with regard to `CCDData` but generally `astropy` has a very powerful framework for correct unit "propagation" so it was obvious to include it (optionally) in `NDData`.

Generally it would be good to know what you changed, based on which functions and what was written to the file. It may be a good idea to wrap that function within `ccdproc` so the next

[2016-08-11 18:19] joshwalawender opened #388 "Rebin Behavior"
The `rebin` function isn't doing what I expect from a binning process on a CCD.  Here's an example:

[code]

It looks like it is taking only the upper left element of the original pixel grid and using it as the value for the output pixel.  I would expect this to do an average or some other combination on the pixel values to get the value for the output pixel.  i.e. I would expect the output of the

[2016-08-12 22:25] MSeifert04 commented on #388
I think `rebin` is probably the wrong name for the function. From the code it seems like it's more a replicate-function because it doesn't apply any function to subsections but only takes the elements. For example it works well if the output-shape is bigger than the initial shape:

[code]

Just for comparison I think the functionality you want is avaiable for "numpy-arrays"-only in astropy/skikit-

[2016-08-13 07:46] crawfordsm commented on #386
@jmccormac01 Yes, the unit is for tracking gain corrections through the reductions.

If you create the `CCDData` object from read, it should have the header or if you set the header initially, it should propagate through and be written out when using `ccd.write`

[2016-08-13 07:50] crawfordsm commented on #388
Yes the rebinning in ccdproc uses slicing.   There is a private _blkavg function that would do more of what you want but I think we didn't include it as a public function at the time as we weren't sure exactly how to handle the uncertainty and masking (and hence the rebinning uses slicing .   It is probably something that would be good to revisit now, but at the very least, the doc string to `rebi

[2016-08-14 00:21] joshwalawender commented on #388
Thanks for the info.  FYI, it looks like the `astroscrappy_rebin` is faster than the `skimage_rebin`:

[code]

Interestingly, `skimage_rebin` took a `CCDData` object as input.

I'll play with uncertainty and masking and if I get something that works for me, I'll probably do a PR because I think this would be a common task that people want to do.

[2016-08-15 20:48] SaraOgaz opened #389 "Combiner acception DQ arrays (bitwise value combinations)"
Hi,

i was wondering if there are any plans to have Combiner take in a DQ style array for masking, (i.e. scaling to zero).  I've been getting a lot of requests for a mscombine replacement, and I think people use this feature a lot.  If there are no plans for this, I'm thinking about adding a wrapper around Combine to enable this, which would possibly end up in the one of the STScI packages... thou

[2016-08-15 22:08] MSeifert04 commented on #389
@SaraOgaz What exactly doesn't work for "DQ style mask arrays"?

`ccdproc` currently automatically casts the mask to a boolean array. Meaning that any "mask" value other than zero (so if it has any DQ flag) is treated as "masked" and ignored during combination:

[code]

But I'm not sure if I understood the question correctly. So please correct me if I'm wrong. Or is it about the `combine` function

[2016-08-16 01:57] mwcraig commented on #389
There is no objection in principle to supporting that; a little more detail and/or an example would be helpful.

Also, you may want to take a quick look at the [Astropy Proposal for Enhancement for NDData](https://github.com/astropy/astropy-APEs/pull/14), which add supporting for DQ planes at a more fundamental level. Even a simple "+1" or "-1" for that feature would be useful :)

[2016-08-16 18:31] SaraOgaz commented on #389
@MSeifert04, I'm thinking of the situation where, in ``ccdproc`` language (and hopefully I'm understanding this package correctly), I have a flag array in my ``CCDData object``, and I want to use a set of flag values in that flag array (in HST data's case, the flags are bitflags, so easy to test for inclusion of a certain flag in each pixel) to be used for masking when running ``Combiner``.  This

[2016-08-18 12:53] crawfordsm commented on #389
As mentioned, there is no automatic way of doing this but there is no reason that this function could not be added.  If you are interested in adding it, we are happy to help, otherwise, we can add it when we have time.

[2016-08-18 13:25] MSeifert04 commented on #389
@SaraOgaz Am I right that `flags` is some kind of unsigned integer array where the bit representation indicates which flags are set?

For example suppose it has 2 flags, i.e. pixel, hot pixel a bad pixel is indicated by `10`, a good pixel by `00` and a bad&hot pixel by `11`.

And the `dqbits` are some sort of selection criterium like "apply flag 1", "apply no flag" and "apply all flags"? The `dqbi

[2016-08-19 08:39] KerryPaterson opened #390 "Combine fits.fz fails with hdu argument"
Ccdproc.combine will automatically combine the first hdu with data unless the hdu argument is passed. Trying to combine a list of fpacked fits files (i.e. file.fits.fz), the ccdproc.combine works fine with the default hdu, but if you specify an hdu it fails.

E.g:
files = ['file1.fits.fz','file2.fits.fz']
ccdproc.combine(files)     *works
ccdproc.combine(files,hdu=1)    *fails

The problem seems t

[2016-08-20 11:40] MSeifert04 commented on #390
@KerryPaterson Thank you for reporting the bug.

I'm actually surprised that it works at all because `fits.fz` is not automatically recognized as `fits`-file.

Is it possible to share one "affected" file so we can confirm and debug the issue?

[2016-08-22 10:30] KerryPaterson commented on #390
Hi Michael

Thanks for looking at this.

I was under the impression that python did recognise fits.fz as fits file (open, getdata, getheader from astropy all work as well as CCDData.read and combine [without the hdu argument] from ccdproc) but can not compress fz files.

The compressed fits file can be found here: https://www.dropbox.com/s/n3ope5mj8kzuux8/test1.fits.fz?dl=0

Setting fz_list = ['te

[2016-08-22 11:30] crawfordsm commented on #390
@KerryPaterson -- with the most recent version of ccdproc and astropy, I'm not currently able to reproduce this.  Can you send along the versions that you are using for both of those?

[2016-08-22 11:42] KerryPaterson commented on #390
Astropy: 1.3.dev
Ccdproc: 1.2.dev916

On 22 Aug 2016, at 1:30 PM, Steve Crawford <notifications@github.com<mailto:notifications@github.com>> wrote:

@KerryPaterson<https://github.com/KerryPaterson> -- with the most recent version of ccdproc and astropy, I'm not currently able to reproduce this. Can you send along the versions that you are using for both of those?

—
You are receiving this because

[2016-08-23 13:27] KerryPaterson opened #391 "Can I set the dtype of the combined image?"
Hi

I am trying to combine a list of fits files with ccdproc.combine(). Is there a way to set the dtype of the combined image? The data in the fits files are uint16 but I want the combined image to be float32. I tried setting the dtype within ccdproc.combine() but this doesn't seem to work. I tried testing this with a list of CCDData objects as well, but it made no difference. I also tried convert

[2016-08-23 15:13] MSeifert04 commented on #391
@KerryPaterson Thank you for the report. Am I right that you only want the result in another dtype? Or is some convenience function (clipping?) not behaving correctly on your dtype?

[2016-08-23 15:19] MSeifert04 commented on #391
You can use `ccdproc.Combiner` directly which accepts a `dtype` parameter.

[2016-08-24 08:03] KerryPaterson commented on #391
Yes, I only want the result in another dtype. Using ccdproc.Combiner works. What is the difference between using ccdproc.Combiner vs cddproc.combine? ccdproc.Combiner doesn't seem to like the ccd_list if it does not contain CCDData objects, unlike ccdproc.combine which will accept a list of fits files.

[2016-08-24 10:18] MSeifert04 commented on #391
simplified: ``combine`` is a convenience function so one doesn't need to read in the files manually, then uses `Combiner` (optionally with clipping) and then just returns the result.

[2016-08-24 10:26] KerryPaterson commented on #391
Should passing an argument (for example dtype) in combine not then carry through to Combiner?

[2016-08-24 10:31] MSeifert04 commented on #391
Unfortunatly not. Currently there is no way to pass it to the `Combiner` but I'm working on a PR enabling it.

[2016-08-24 11:48] MSeifert04 commented on #391
@KerryPaterson I've submitted a PR to fix this issue. I think (or hope) it will be fixed in the next `ccdproc`-release.

[2016-08-24 11:58] KerryPaterson commented on #391
@MSeifert04 Thanks for the help.

[2016-08-24 12:03] MSeifert04 commented on #390
I'm confused. The file you shared only has 2 extensions:

[code]
So the `hdu=2` does not exist (note that python uses 0-based-indexing, so the second hdu is `hdu=1`). But `ccdproc` by default ignores data-less extensions (see log-messages):

[code]

which also works for `hdu=1`

[code]

[2016-08-24 12:31] KerryPaterson commented on #390
Sorry about that, the original file has 32 extensions, the test1.fits was a file I wrote out with a single extension to save on space. Here is a link to the original file: https://www.dropbox.com/s/4w7orq06ss2z5a6/kmts.20151202.030382.fits.fz?dl=0 . It seems it may be an issue with one of the keywords in the header? Adding more extensions to the test1.fits.fz, ccdproc.combine didn't seem to have a

[2016-08-24 12:41] MSeifert04 commented on #390
Thank you, now I can reproduce the issue. I'll have a look.

[2016-08-26 16:56] SaraOgaz commented on #389
@MSeifert04, yeah, that's they way they work for HST data DQ (data quality) arrays.  The dqbits would be a parameter, where the total was the bit total for flags you wanted to use for masking, i.e. in ints, I want to flag bit 8 and bit 32, so my dqbits value will be 40.

[2016-08-26 21:00] mirca commented on #374
Hi @crawfordsm,

should the files be assumed to be in ``location`` or should it be any list of relative (or absolute) paths?

I was thinking in add a parameter which would be the list of files specified by the user wrt to ``location``, is that the intention?

[2016-09-01 15:13] #391 closed

[2016-09-01 15:16] crawfordsm commented on #391
Okay this should be now merged.

[2016-09-06 17:13] #386 closed

[2016-09-06 17:25] crawfordsm commented on #390
@KerryPaterson can you update to the most recent development version of both astropy and ccdproc and try again?

[2016-09-06 17:40] mwcraig commented on #389
@SaraOgaz -- could you please provide a sample image that has a DQ array? We want to try to implement this but a concrete example would be helpful. If you are interested in working on a PR that would be great! 😀

It might be a better fit in in the `combine` function rather than the `Combiner` class...but in any event a concrete example seems like the place to start.

[2016-09-06 17:57] mwcraig commented on #388
@joshwalawender -- any progress on this? We are currently thinking that we will deprecate the current `rebin`, replacing with `block_reduce` and `block_replicate` from astropy.nddata.utils.

Those completely ignore masking and uncertainty, though...and we are having trouble figuring a generic way to do that and are thinking instead about documenting how you would apply reduce/replicate to uncertai

[2016-09-06 18:04] #368 closed

[2016-09-07 13:02] KerryPaterson commented on #390
@crawfordsm I get the same error (ccdproc version = 1.2.dev921, satrapy version = 1.3.dev16028).

[2016-09-07 18:57] joshwalawender commented on #388
@mwcraig -- No progress.  I put in a work around in my code for now, but haven't made any progress on a general tool.

[2016-09-08 00:03] MSeifert04 commented on #390
@KerryPaterson Could you check if #393 fixes the problem?

However that will just fix one symptom of this issue (which should probably be found and fixed in astropy) so it's likely one would encounter it in several functions of `ccdproc`. But for those functions one can disable logging to the Header (which caused the Exception) by setting `add_keywords=None`.

FYI: Another way to avoid the excepti

[2016-09-08 00:08] MSeifert04 commented on #390
Another question: Am I allowed to link to your data file (the big one) if I open an issue in astropy?

[2016-09-08 12:40] crawfordsm commented on #390
@MSeifert04 Yes, I've tracked down the problem to the `Header.append` function in astropy.io.fits.header such that the following fails with the same error:

    ccd = ccdproc.CCDData.read('kmts.20151202.030382.fits.fz', hdu=2, unit='adu')
    key = 'trim_image'
    short_name = 'trimim'
    card = (key, short_name, "Shortened name for command")
    ccd.meta.append(card)

Still need to look into th

[2016-09-08 12:42] crawfordsm commented on #390
@KerryPaterson We need to merge #393, but once that is, it should fix your problem with combine.   For using other ccdproc tasks, you should include `add_keyword=False` in the keywords for the task and then those tasks should work until there is a fix in `astropy.io.fits` for this problem.

[2016-09-08 13:03] #390 closed

[2016-09-08 13:15] KerryPaterson commented on #390
#393 fixes the problem, thanks! @MSeifert04  Sure, you can copy the link over to astropy.

[2016-09-08 13:30] MSeifert04 commented on #390
@KerryPaterson Ok, thanks :+1:

[2016-09-08 13:35] pllim opened #395 "ccmap"
Prompted by @saraogaz in [astropy-dev mailing list asking about ccmap equivalent](https://groups.google.com/forum/#!topic/astropy-dev/7OJSXlVWBWI), I am wondering if there is already something like that in `ccdproc`. It seems to me that this would be a logical place for such a thing to exist if it does at all.

`ccmap` documentation: http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?ccmap

[2016-09-08 13:38] pllim commented on #389
@mwcraig, if you download any data from [HST Archive](http://archive.stsci.edu/hst/search.php), you would see such a DQ array. If you have DropBox or something, I can drop one for you.

[2016-09-08 13:43] pllim commented on #370
For `imcombine`, STScI has some kind of Python implementation already. See https://github.com/spacetelescope/stsci.image/blob/master/stsci/image/numcombine.py . We do plan to consolidate such implementations currently scattered across the board somewhere easier to find. c/c @saraogaz, @justincely

I was pretty sure we also re-implemented `blkrep` in Python before but I can't find it now... @larryb

[2016-09-08 13:46] pllim commented on #370
EDIT: Okay, we didn't re-implement `blkrep` but rather `blkavg`. Not sure if that one made it into official STScI distribution, but I have a copy at https://github.com/pllim/playpen/blob/master/blkavg_rewrite.py (still need some work to optimize it but I think it works)

[2016-09-08 13:48] MSeifert04 commented on #370
blkrep could be [`astropy.nddata.utils.block_replicate`](https://github.com/astropy/astropy/blob/5d6c47567f86b2b36a5734fc404279a5906d9670/astropy/nddata/utils.py#L418) and `astropy.nddata.utils.block_reduce` or [`ccdproc.rebin`](https://github.com/astropy/ccdproc/blob/master/ccdproc/core.py#L1054) (this might be subject to change because it doesn't do what people expect #388).

[2016-09-08 13:48] pllim commented on #371
I think @saraogaz and @justincely would be interested in this as well.

[2016-09-08 13:56] larrybradley commented on #370
@pllim Yes, I added `block_replicate` and `block_reduce` to `astropy`.  `block_reduce` is flexible in that it can apply any user-input function to the data.  The default is `func=np.sum`, which is equivalent to `blkrep`.  The equivalent of `blkavg` would be to input `func=np.mean` (or e.g. `np.ma.mean`).

[2016-09-08 14:02] larrybradley commented on #370
Sorry, `blk_rep` is `block_replicate` *not* `block_reduce`.....

[2016-09-08 14:07] MSeifert04 commented on #370
Also `imcombine` is probably already implemented in `ccdproc`: [low-level interface `Combiner`](http://ccdproc.readthedocs.io/en/latest/api/ccdproc.Combiner.html#ccdproc.Combiner) and [high-level `combine`](http://ccdproc.readthedocs.io/en/latest/api/ccdproc.combine.html#ccdproc.combine)

[2016-09-09 12:01] crawfordsm commented on #395
CCMAP itself hasn't been on our wish list for awhile but finding astrometric solutions to an image has been.  It's been long on the to-do list although some progress has been made on it in the astroquery package (although I think that PR was never completed).

See #160  and also https://github.com/astropy/astroquery/pull/521

[2016-09-09 18:04] crawfordsm commented on #390
For reference, this problem was deep into how header treated HIERARCH keywords and hopefully fixed in https://github.com/astropy/astropy/pull/5321

[2016-09-13 17:06] #342 closed

[2016-09-28 21:38] dokeeffe opened #396 "MemoryError combining fits files"
I'm trying to combine many bias frames with ccdproc.combine and get 'MemoryError'
Its about 50 bias frames, each one 16Mb.
Is this a problem in my code or ccdproc?
My machine has 4GB ram, I just tried passing mem_limit=1e9 to the combiner but get the same result

[code]

[2016-09-28 22:05] mwcraig commented on #396
@dokeeffe -- what version of ccdproc are you using? My initial reaction is that combine should work for your case. Does it still fails if you set `mem_limit` even lower?

[2016-09-28 22:08] MSeifert04 commented on #396
@dokeeffe I hope you don't mind that I've added triple quotes around your error (multiline-code-block) so it's better readable.

Thank you for the report and that could well be some numpy-error. Could you share the data you were processing and the script (including the scale-function, etc.) and your numpy version?

[2016-09-28 22:39] dokeeffe commented on #396
Yes I set it even smaller (128e6) and its processing
[code]

I'm using ccdproc
Version: 1.0.1
Also....
Name: numpy
Version: 1.11.0

The code I'm using is a script I have written and is here...
https://github.com/dokeeffe/bh-observatory/tree/master/data-reduction/calibration
Called masterBiasGenerator.py

[2016-09-28 22:40] dokeeffe commented on #396
Maybe I should close this issue, sorry for wasting your time and thanks for the help!

[2016-09-28 22:50] #396 closed

[2016-09-28 22:58] MSeifert04 commented on #396
@dokeeffe So it was just a problem with the memory limit?

[2016-09-28 23:26] dokeeffe commented on #396
Yes setting to 128mb seemed to do the trick. Thanks for the help

[2016-09-28 23:36] MSeifert04 commented on #396
I recently fixed a problem where the memory calculation was way off (it thought it was dealing with uint8 when internally float64 was used). Maybe that also affected your use-case.

But I'm glad it worked.

[2016-09-29 00:57] mwcraig commented on #396
@dokeeffe -- I'm glad to hear that worked (and always happy to hear that people are using the code!)

[2016-10-01 14:59] dagnic opened #397 "ValueError when compiling"
Hello everybody,

I'm a new user and I face a first problem with following line:

[code]

which gave me:

[code]

I'm using  last version of ccdproc and astropy from pip.

Thanks for help,
Nicolas

[2016-10-01 15:08] MSeifert04 commented on #397
@dagnic Thank you for the report. To exclude some possible (not ccdproc related errors) could you please run:

[code]
and say what these `print` statements print?

[2016-10-02 12:19] dagnic commented on #397
Here is the result:

[code]
for [ccd.shape for ccd in images], I get a list (*16) containing same values (1472, 2184)

[2016-10-02 12:27] dagnic commented on #397
In fact, replacing:
[code]

with:
[code]
solves the problem. In this case I just get following warnings:
[code]

[2016-10-04 17:03] mwcraig commented on #397
@dagnic -- those warnings are normal. I'm not sure why your original loop failed.

As a new user of ccdproc, would it be helpful if we suppressed those warnings?

[2016-10-04 17:10] mwcraig commented on #397
Oops, I do see the issue with the original loop -- you omitted the `read` from CCDData.read`.

[2016-10-04 17:18] crawfordsm opened #398 "Remove HEIRARCH keyword to short name"
remove the step where HIERARCH key

[2016-10-04 17:18] crawfordsm opened #399 "Remove HIERARCH keyword to short name"
remove the step where HIERARCH keyword is created that points to the long keyword to the short keyword name and instead, add this into the comment.

Line 553 in the current CCDData.py

[2016-10-04 17:21] #398 closed

[2016-10-04 17:28] crawfordsm commented on #374
@mirca maybe both?   If location is supplied then an absolute path not needed, but if location is None then it would need an absolute path

[2016-10-13 16:32] crawfordsm opened #400 "image file collection CCDData"
Image file collection currently can return an hdu, data, or header, but should also have a function to return CCDData objects

[2016-10-13 16:37] crawfordsm opened #401 "ccd_process does not keep header"
When ccd_process processes a file, the return object appears to lose its header information.

[2016-10-13 22:58] MSeifert04 commented on #401
This might just one or several of the functions called by `ccd_process`. For example:

[code]
is no problem.

Do you know how (which keywords) you invoked `ccd_process`?

[2016-10-14 02:59] RogueAstro commented on #401
After running PyCharm's debugger, I inspected the ``CCDData`` object that is returned after a ``ccd_process`` call, and there is only one entry in its header:

    'ccd_process' (4364907760) = {str} 'dark_frame=None, ccd=<CCDData>, gain=1.0 electron / adu, trim=None, master_bias=<CCDData>'`

The original header was completely lost.

[2016-10-14 13:30] MSeifert04 commented on #401
@RogueAstro Am I right that you just provided `ccd`, `gain` and a `master_bias` when you called `ccd_process`?

On a personal note: I'm somewhat surprised by this `(4364907760) = {str}` thing.

[2016-10-14 15:26] RogueAstro commented on #401
Yes, that is true. As for ``(4364907760) = {str}``, it may just be some metadata that PyCharm prints when we inspect an object. The striking fact is that the header contains only one entry, and it is this long string ``'dark_frame=None, ccd=<CCDData>, gain=1.0 electron / adu, trim=None, master_bias=<CCDData>'``. I would expect it to preserve the header from the input ``ccd``, and/or to just append

[2016-10-17 12:43] #401 closed

[2016-10-17 13:11] #388 closed

[2016-10-17 13:23] crawfordsm commented on #374
One part of this has been implement in #403, but different locations still needs to be implemented.

[2016-10-19 19:45] SaraOgaz commented on #370
Hi @AlexaVillaume,
This is super related to a project we're working on right now at STScI to replace needed IRAF tasks and functionality.  Can I ask what part of the IRAF functionality you want that's not part of ``scipy.signal.medfilt`` ?  This could easily be something that goes on our to-do list...

[2016-10-19 20:14] SaraOgaz opened #406 "Should there be docs for block_* functionality?"
Hi guys,

I saw the added functions in  #402 and was wondering if there were plans to add this to the docs, I can't seem to find a reference to it when I poke around....

[2016-10-19 20:19] mwcraig commented on #406
Yes, there should be -- thanks for catching that!

[2016-10-19 20:20] MSeifert04 commented on #406
That's weird. There could be circumstances (astropy < 1.1) when the documentation for these functions is not built but that should not be the case with the RTD docs.

When I build it locally there is documentation. Maybe it's just some RTD caching issue. @mwcraig @crawfordsm could you clear (sometimes it needs 3-4 clears) and rebuild the docs?

[2016-10-19 20:29] MSeifert04 commented on #406
It looks like this locally (I hope there is not some weird sphinx stuff going on):

![unbenannt](https://cloud.githubusercontent.com/assets/14200878/19536201/405b9582-964b-11e6-9599-2ee3040082e5.jpg)

![unbenannt1](https://cloud.githubusercontent.com/assets/14200878/19536246/6be70696-964b-11e6-8089-3c1ca85934b8.jpg)

[2016-10-19 20:37] MSeifert04 commented on #406
Ok, sorry for the flood of comments but somehow the RTD build stalled lately: http://readthedocs.org/projects/ccdproc/builds/

Maybe because I added scikit-image to the dependencies? Does this affect the RTD builds?

[2016-10-19 22:16] mwcraig commented on #406
Looks like this is closed by #407 -- now the sphinx documentation at least include `block_*` in the API section.

@SaraOgaz -- can you please confirm that and close if appropriate? (arguably we should still add something to the *narrative* documentation about this too...)

[2016-10-20 02:31] AlexaVillaume commented on #370
Hi @SaraOgaz,

My thought was to make a wrapper to the scipy functionality so that one could just pass a name of a fits file, like in IRAF. Then also to work properly over MEFs, which I don't think the IRAF version does. Is this the same project that @pllim brought up?

[2016-10-20 14:41] SaraOgaz commented on #406
Yep I see it, thanks! Closing...

[2016-10-20 14:41] #406 closed

[2016-10-20 15:32] pllim commented on #370
@AlexaVillaume , yes, the very same project.

[2016-10-21 01:23] MSeifert04 commented on #399
Any PR fixing this issue would probably also fix #359.

[2016-10-31 13:35] MSeifert04 commented on #281
This should be fixed by https://github.com/astropy/astropy/pull/5411.

@AnthonyHorton Can I close this issue?

[2016-11-01 17:24] #359 closed

[2016-11-01 17:24] #399 closed

[2016-11-01 17:26] #397 closed

[2016-11-01 17:42] #281 closed

[2016-11-01 17:43] crawfordsm commented on #330
This is now included in the PR checklist added in #412

[2016-11-01 17:43] #330 closed

[2016-11-17 06:19] joshwalawender opened #421 "ImageFileCollection's ccds method fails if the location is not the cwd"
When using an `ImageFileCollection` to sort images based on the keywords, the `.ccds` generator fails because it tries to use the file name as input to `fits_ccddata_reader` rather than the full path.  I believe this is a simple fix, so I will file a PR shortly.

[code]

Don't forget to include the version of astropy, ccdproc and numpy, just copy
this into your Python interpreter (without the back

[2016-11-17 16:35] MSeifert04 commented on #175
I think [`astropy/imageutils`](https://github.com/astropy/imageutils) has stalled 2 years ago. Should we really move functionality there?

[2016-11-17 18:12] bsipocz commented on #175
@MSeifert04 - Imageutils has been moved to astropy core as far as I know, and should be used for anything at al.
Maybe the repo should be removed, or flagged as so? cc @astrofrog

[2016-11-17 19:09] boada opened #423 "ImageFileCollection seems to fail on multi extension files"
[code]

I have a bunch of imaging data where each of the instrument's CCDs have been written to a different extension in the same file:

[code]
Running ImageFileCollection on a directory which contains a single image gives:

[code]

However, if I break the fits files into files which only contain a single CCD's data, then everything seems to work as it should, but I seem to lose any info about wha

[2016-11-17 19:47] boada commented on #423
After a little more investigating, it seems it's something to do with the header of images. When I break the 4 ccd file into 4 single files, but write the original primary HDU to each file I still get the error.

[code]

[2016-11-17 19:50] #371 closed

[2016-11-17 19:53] boada commented on #423
Here's the primary HDU with personal info removed.

`
SIMPLE  =                    T / File conforms to FITS standard
BITPIX  =                    8 / Bits per pixel (not used)
NAXIS   =                    0 / PHU contains no image matrix
EXTEND  =                    T / File contains extensions
NEXTEND =                    4 / Number of extensions
FILENAME= 'image.fits'   / Original host filename

[2016-11-17 21:38] joshwalawender opened #424 "combine fails with StdDevUncertainty?"
It looks like `combine` fails for images with a `StdDevUncertainty`.  I'm working on a simple reduction and am trying to carry uncertainty though the whole process.  While writing the bias file combine step, I got an error which I can reproduce below:

[code]

Yields:

[code]

Am I using uncertainty correctly or should I be doing this differently?

---

Don't forget to include the version of astro

[2016-11-18 05:02] MSeifert04 commented on #424
@joshwalawender Thank you for the report.

I had a similar issue and I think I fixed it in #416 but just to be on the safe side, could you checkout the PR and see if it fixes your issue?

[2016-11-18 05:06] MSeifert04 commented on #423
It's really hard to debug this issue without knowing the astropy/numpy version (especially because the error happens in astropy!) and without having these files.

Would it be possible to share some of your files or "similar" files that throw the same error?

[2016-11-18 05:51] MSeifert04 commented on #423
Or maybe as alternative could you please add a debug point (for example `print(summary_dict)` at line 432 to show what could be the trigger of this error?

Note that github supports `<details> text </details>` to hide long tracebacks or codes or put it in a gist.

[2016-11-18 06:26] joshwalawender commented on #424
@MSeifert04 It looks like your #416 fixes the problem.  Closing this as a duplicate.

[2016-11-18 06:26] #424 closed

[2016-11-18 13:46] boada commented on #423
[code]

I'm not really sure how to go about sharing some files. Maybe some of the non-science data, like a dark frame. I will see if I can put something together.

[2016-11-18 14:56] MSeifert04 commented on #424
@joshwalawender Thanks!

[2016-11-18 20:31] MSeifert04 commented on #270
@crawfordsm #405 is merged, did that PR fully adress your issue?

[2016-11-18 20:33] MSeifert04 commented on #63
That was recently added to astropy if I'm correct: https://github.com/astropy/astropy/pull/4760

[2016-11-18 20:55] mwcraig commented on #423
@boada -- thanks for the additional information. One option (if it isn't too much of a hassle) would be to strip out the pointing information and replace the real data with random number. Another would be to email a file directly to me with the understanding that its content would be kept confidential.

I'll see if I can generate an error just by throwing some multi-extension fits files at `ImageF

[2016-11-23 16:41] MSeifert04 commented on #326
@BrunoSanchez Could you open a seperate issue for your case? We may need to know what your "dark" and "bias" are and how they were created.

[2016-12-05 12:57] stpstp opened #427 "Running ccdproc.subtract_overscan twice causes problems with FITS header cards."
Running  ccdproc.subtract_overscan twice causes problems with FITS header cards.  I want to run  ccdproc.subtract_overscan first on the serial overscan for normal overscan subtraction, and then on the parallel overscan for smear correction (shutterless readout).

The data part looks fine after running subtract_overscan twice, but the fits header produces errors when I want to write a new fits file

[2016-12-05 13:35] crawfordsm commented on #427
We have updated how the header is updated in the development version, and I think this could be fixed in the most recent version.  I've tried it out and it seems to work, but could you check the development version against your data?

[2016-12-05 17:26] stpstp commented on #427
Yes, the file writing is fixed when using version 1.3.dev17317  (and ccdproc 1.1.0
numpy 1.11.2 ). Thanks!

[2016-12-06 09:54] #427 closed

[2016-12-06 18:56] #224 closed

[2016-12-06 22:41] SaraOgaz opened #433 "cosmicray_median bug?"
Hi,

I'm trying to run cosmicray_median on some HST data, and i'm getting an astropy WCS error.  The odd thing about it is that in the traceback there's no listing of what line of cosmicray_median it's coming from, and I'm a bit stumped, as it seems like cosmicray_median shouldn't need to do anything with the WCS in the first place, since no transformations are happening.

I tried to look at some

[2016-12-06 22:43] SaraOgaz commented on #433
Also, you guys may be happy to know, we're trying to include ``ccdproc`` in our notebook tutorials when we can for STAK (https://github.com/spacetelescope/stak).

[2016-12-06 23:09] MSeifert04 commented on #433
@SaraOgaz Thanks for the report and I suspect that the documentation is inaccurate.

The problem is that if you input a `CCDData` then you get a `CCDData` back and the problem is that you expect 2 returned arguments.

Could you try if this works:

`new_ccd = cosmicray_median(image_data, error_image=error_data, thresh=5, mbox=11, rbox=11, gbox=3)`

[2016-12-06 23:10] MSeifert04 commented on #433
Very nice indeed. I certainly will have a look at these 🎉 👍

[2016-12-07 03:53] MSeifert04 commented on #421
Fixed in #431.

[2016-12-07 03:53] #421 closed

[2016-12-07 15:31] SaraOgaz commented on #433
@MSeifert04  ahh, my bad, didn't read the doc examples carefully enough! Just getting normal looking errors nows.

[2016-12-07 17:01] MSeifert04 opened #434 "Filter with masks/nan"
In 1.3 `astropy.convolution.convolve` and `astropy.convolution.convolvefft` will support `NDData` and thus probably also CCDData. We might as well include these somewhere in the narrative documentation, right?

Apart from that I recently "played" around with `numba` and `jinja2` and created a [smallish package](https://github.com/MSeifert04/numbamisc) that should in theory also support `CCDData` a

[2016-12-13 03:09] mwcraig commented on #433
@SaraOgaz -- closing because it looks like this is resolved, but if not please reopen it.

[2016-12-13 03:09] #433 closed

[2016-12-13 18:32] crawfordsm opened #437 "narrative docs for ccdmask"
There is a very good doc string for the new `ccdmask` but it would be good to add something to the [Reduction ToolBox](http://ccdproc.readthedocs.io/en/latest/ccdproc/reduction_toolbox.html) page giving an example of it

[2016-12-14 12:42] astrofrog opened #439 "Duplicate build on AppVeyor"
It looks like there are two ccdproc builds in the Astropy organization on AppVeyor:

https://ci.appveyor.com/project/Astropy/ccdproc
https://ci.appveyor.com/project/Astropy/ccdproc-iqpau

Is there a reason for this? Can we remove the empty one and rename the other one to not have the iqpau suffix?

[2016-12-14 19:52] mwcraig commented on #439
@astrofrog - I have no idea how that happened....

@MSeifert04 -- yes, I think.

[2016-12-19 22:55] MSeifert04 opened #445 "CCDData.unit setter allows None but init raises ValueError when unit is None"
I just revisited some code in `CCDData` and noticed that the `unit` setter allows `None`. This isn't a problem in itself but we actually raise a `ValueError` if the `unit` is `None` during initialization.

I don't know if we should change anything but it's inconsistent so I wanted to ask if that was intentional @crawfordsm (because git [blames](https://github.com/astropy/ccdproc/blame/master/ccdpr

[2016-12-19 23:20] MSeifert04 opened #446 "PEP8 travis check"
Would it be worthwhile to enable the `pycodestyle` (PEP8) Travis job? Like [the one in astropy.](https://github.com/astropy/astropy/blob/master/.travis.yml#L105)?

[2016-12-19 23:26] bsipocz commented on #446
It depends how many new contributors you have. I think it's rather useful if most of the commits are coming from the core team (and also having a bit more strict list of errors you check for, core astropy only checks for a very few trivial ones), but it can also be a burden and raises the bar if you have many git/github newbie, see comment here: https://github.com/astropy/astropy/pull/4581#issueco

[2016-12-20 11:18] olebole opened #448 "[1.10] Failure with numpy 1.12 (rc)"
With numpy 1.12 (resp. 1.12RC), the `test_wcs_project_onto_scale_wcs` fails at least with Python 2.7:

[code]
Full build log [here](http://aws-logs.debian.net/2016/12/19/ccdproc_1.1.0-1_unstable.log). Corresponding Debian bug [here](https://bugs.debian.org/848812).

[2016-12-20 11:48] MSeifert04 commented on #448
@olebole This should be fixed in `ccdproc 1.2` (released last week).

I encountered and fixed that problem in #417.

Is there any reason not to use version 1.2 (note that it got an additional dependency: `scikit-image`) there?

[2016-12-20 12:54] olebole commented on #448
skimage currently has some problems in Debian, and I am not sure whether they are solved in the next weeks (we have a freeze for the upcoming Stretch release soon). Until the skimage package is in a good shape, I prefer not to update ccdproc, but to backport the patch.

[2016-12-20 13:11] MSeifert04 commented on #448
Do you need us to do anything? As far as I know we don't do backports and/or bugfix releases (cc: @astropy/ccdproc-maintainers, maybe I'm wrong).

[2016-12-20 13:14] olebole commented on #448
No; I did the backport [myself](https://anonscm.debian.org/cgit/debian-astro/packages/ccdproc.git/tree/debian/patches/fixed-numpy-dev-test-failure.patch). The build time test was successfull, and now I am going to upload to Debian.

[2016-12-20 13:14] #448 closed

[2016-12-20 13:21] MSeifert04 commented on #448
👍 Thanks!

[2016-12-20 15:22] MSeifert04 commented on #446
True anough with the higher bar for new contributors. But one can specify which are actually tested?

So we might find a set that just tests the more important ones like: trailing whitespaces, no newline EOF, blank line with whitespaces?

[2016-12-20 16:01] bsipocz commented on #446
Yes, that's what astropy core does.

[2017-01-11 18:09] crawfordsm opened #450 "Add slices to the documentation"
The slices function in the utils sub-package is not mentioned anywhere in the documentation.  As it is generally useful, it should be added to the documentation page.

[2017-01-11 18:34] mwcraig commented on #439
There were two webhooks to appveyor which is what (I suspect) led to the duplicates. The one called https://ci.appveyor.com/project/Astropy/ccdproc-iqpau is the one that is actually working, and ist still around.

I've deleted the other in appveyor and removed the inactive webhook from this repo.

[2017-01-11 18:34] #439 closed

[2017-01-11 18:50] crawfordsm commented on #446
So yes on a very limited set of tests

[2017-01-24 10:39] crawfordsm opened #452 "Update author list on ASCL entry"
This is just a note for myself to remember to update the author list on the ASCL entry and to add that to the instructions for a  release.

[2017-01-25 14:33] mkelley opened #453 "FITS files not updated for ImageFileCollection.ccds(overwrite=True)"
Hello,

When using the `CCDData` generator and the `overwrite=True` option, changes to the returned object are not updated in the FITS file.  However, the hdu generator does work as expected:

[code]

Results:
[code]

The saved CCDData mean is 0.0, but I expected 1.0.

astropy 2.0.dev17751, ccdproc 1.3.dev1066, and numpy 1.11.0.

Thanks for the help,
Mike

[2017-01-26 11:15] MSeifert04 commented on #453
Actually there are two issues here: One is that you are correct and the `ccds`-generator doesn't update the original. However the second problem is that `ccd += 1` creates a numpy-array. So you didn't modify `ccd` but just created a new object.

I'll submit a fix for the first issue but the second one is impossible to fix without creating in-place arithmetic operations (like `__iadd__`).

[2017-01-28 16:23] mkelley commented on #453
Ah, I see I should have used `.add()`.

[2017-01-28 16:36] mkelley commented on #453
OK, now I get it, `ccd.data += 1` would be the right call.

[2017-01-31 18:29] MSeifert04 commented on #445
#451 closed this.

[2017-01-31 18:29] #445 closed

[2017-01-31 18:29] mwcraig opened #455 "Using inplace operators with a `Quantity` produces a result even though it is not actually updating in-place"
This issue separates part of the example given by @mkelley in #453: if `ccd` is a `CCDDat` object, then `ccd += 1 * u.adu` does not fail and does not produce the expected result.

[2017-02-11 20:27] MSeifert04 commented on #389
@pllim I've checked some files from the HST archive but none of those I downloaded had a DQ extension. Could you point me to a file, or instrument or are they only included in pre-processed files, if so in which? I think I get the basic idea and I did some work on that score but I'm still lacking any real-world-data to test it on.

[2017-02-11 20:46] pllim commented on #389
I can't check till Monday. But I'm surprised to hear Archive doesn't give DQ array. What's the dataset name and suffix you requested?

[2017-02-11 21:03] MSeifert04 commented on #389
No problem I don't have much time this weekend but I always forgot to ask before about the images. I'll check which files (I requested a lot of random files :) ) then.

[2017-02-13 17:16] pllim commented on #389
@MSeifert04 , here are the instructions to retrieve a specific dataset from HST/ACS that I know for sure has DQ extension. It is a subarray, so will have smaller size than a fullframe exposure.

1. Go to https://archive.stsci.edu/cgi-bin/dataset_lookup
2. Type `jc5001soq` in top left text area.
3. Click "submit datasets for retrieval".
4. On the next page, click the similar button again. The datas

[2017-02-13 18:07] MSeifert04 commented on #389
@pllim That worked and has a DQ-extension. Thanks 👍

[2017-02-13 18:15] pllim commented on #389
No problem! In general, any calibrated HST data should have DQ extension. I am curious of the dataset that you got that somehow does not.

[2017-02-13 23:56] mwcraig opened #457 "Try harder to correctly handle WCS with SIP distortion"
The way that SIP distortions in a WCS are handled changed in astropy 1.2 when converting a WCS to a header. See https://github.com/astropy/astropy/pull/4814 for details.

In particular, if a WCS has been created with SIP distortion coefficients *and* the `CTYPE` contains `SIP` then the `SIP` is dropped from the CTYPE when converting the WCS back to a header using `to_header` *unless* `relax=True`

[2017-02-20 18:16] mcara commented on #389
@SaraOgaz functions to work with bitmasks have been in ``stsci.tools`` for quite some time: https://github.com/spacetelescope/stsci.tools/blob/master/lib/stsci/tools/bitmask.py

[code]

[2017-02-26 21:06] vrooje commented on #423
I'm trying to reduce some spectroscopic data and just hit this issue. To answer the question above, I could see using both an all-extension-loop functionality and a single extension specification, but right now I'd like to specify the extension.

Happy to provide an example FITS file if that's helpful.

[2017-02-27 02:49] mwcraig commented on #423
@vrooje -- would you want the same extension in all of the files, or would it vary from file to file? Implementing either should be fairly straightforward (I think)..

[2017-02-27 16:32] vrooje commented on #423
I think I'd always be running this in batches where all the files were from the same instrument, so the same extension should work... the instrument does have separate blue and red channels but a) I've been running them separately and b) I think the file structure is still the same, just different dimensions.

[2017-03-02 20:16] MSeifert04 opened #461 "Failure with numpy-dev and astropy-dev"
The doctests in `docs/ccdproc/image_management.rst` fail with the following exception:

[code]

I think I've seen the issue recently in astropy (I think @mhvk reported and/or fixed it) but I can't find it right now.

The test-run can be inspected on Travis: https://travis-ci.org/astropy/ccdproc/jobs/206842176

[2017-03-02 20:20] MSeifert04 opened #462 "AppVeyor Python 3.5 package conflict"
The Python 3.5 AppVeyor tests fail because of conflicting package requirements:

[code]

@mwcraig Is this something that can be fixed with new builds in [astropy-conda-channel](https://github.com/astropy/conda-channel-astropy)?

[2017-03-03 17:41] bsipocz commented on #462
Could you please link a failing build? This is something I merged a fix in ci-helpers yesterday.

[2017-03-03 17:42] MSeifert04 commented on #462
@bsipocz That was 2 days ago: https://ci.appveyor.com/project/Astropy/ccdproc-iqpau/build/1.0.422/job/p40m7d354hpnh6ci

[2017-03-03 18:03] MSeifert04 commented on #462
@bsipocz Unfortunatly that still fails: https://ci.appveyor.com/project/Astropy/ccdproc-iqpau/build/1.0.423/job/p70ar3whtfieptsy#L105

[2017-03-04 17:34] janga1997 commented on #423
I would like to work on this issue.
So, just to be clear one last time, @crawfordsm @mwcraig , if the user specifies an extension, you should extract that extension from all files in a given directory?

[2017-03-04 18:00] janga1997 commented on #90
@mwcraig I think I will take this up too. Will let you know of any doubts.

[2017-03-07 15:55] janga1997 commented on #423
@vrooje I'm trying to work on solving this issue. Could you provide that sample FITS file?

[2017-03-07 18:37] mwcraig commented on #423
@janga1997

Yes, I would imagine adding a keyword like `extension` to the list of arguments, and returning the hdu/header/data/etc for that extension. The default right now is to return the first extension, I believe.

[2017-03-07 19:29] mwcraig commented on #462
There are two things (at least) missing:

- [x] astropy for numpy 1.12/python 3.x: This has been fixed on conda-forge.
- [ ] reproject for numpy 1.12 on any python. There is an open PR adding it https://github.com/conda-forge/reproject-feedstock/pull/1. The travis mac queue is pretty backed up so it may be a while (~24 hours) until this can be merged and reproject built.

[2017-03-07 21:48] vrooje commented on #423
[b207_os_bs_ff_cr.fits.zip](https://github.com/astropy/ccdproc/files/825931/b207_os_bs_ff_cr.fits.zip)
[r207_os_bs_ff_cr.fits.zip](https://github.com/astropy/ccdproc/files/825932/r207_os_bs_ff_cr.fits.zip)

Here's a Kast observation of a standard star, one file for the blue channel and one file for the red channel. I wouldn't necessarily include these in the same collection, just making sure you h

[2017-03-08 14:43] mwcraig commented on #462
Still waiting for the reproject PR to build....

[2017-03-08 14:56] bsipocz commented on #462
Well, sorry for this mess, there are always more corner cases than expected.
The current logic is to fall back on pip install whenever the conda install version requirements are not met. However not all packages are pip installable, and thus we still see failing builds. One way I have in mind is to loop over the dependencies one-by-one and retry the install that way, but I think it will a few days

[2017-03-08 14:59] mwcraig commented on #462
No worries; I think conda-forge is really backed up right now because a lot of feedstocks were re-rendered a couple days ago. The travis mac backlog is not dropping to zero overnight anymore, so it is taking a while to catch up.

[2017-03-08 20:22] mwcraig commented on #462
Linux and Windows builds for reproject are done, so I'm going to try restarting one of the failing jobs.

[2017-03-08 20:23] mwcraig commented on #462
No luck....@bsipocz, does `ci-helpers` add conda-forge as a channel? I'm trying to figure out where the underlying conflict is in https://ci.appveyor.com/project/Astropy/ccdproc-iqpau/build/1.0.426/job/pe7yeqc1hf8g8na3#L84 now that conda-forge has astropy 1.3/numpy 1.12/python 3.5....

[2017-03-08 20:44] bsipocz commented on #462
@mwcraig - no it doesn't, you need to add it in the repo's ``appveyor.yml``/``.travis.yml``

[2017-03-09 12:50] janga1997 commented on #457
@mwcraig Could I have that FITS file referenced to in the description?

[2017-03-10 17:20] mwcraig opened #464 "Handle duplicate keywords in headers in ImageFileCollection"
What happens:

If a fits file that has the same keyword more than once in the header is added to an `ImageFileCollection`, building the collection fails as reported in #423. @boada was on the right track in his comment https://github.com/astropy/ccdproc/issues/423#issuecomment-261349459, which illustrates that the reported issue has to do with the contents of the headers, not with the fact that th

[2017-03-10 17:31] MSeifert04 commented on #464
Is a FITS header allowed to have multiple identical keywords for non-comments/history cards? I mean it's possible to create them but it's nearly impossible to handle them with `astropy.io.fits`. Maybe the correct thing to do would be to warn and ignore or error out in those cases.

[2017-03-10 17:33] MSeifert04 commented on #464
With "it's possible to create them but it's nearly impossible to handle them" I mean:

[code]

[2017-03-10 17:34] mwcraig commented on #464
@vrooje @boada @crawfordsm @MSeifert04 Any comments on the options below would be most welcome.

For reference, the [FITS standard v3](http://www.aanda.org/index.php?option=com_article&access=doi&doi=10.1051/0004-6361/201015362&Itemid=129) says nothing that I could find about repeated keywords (admittedly just gave it a quick skim). It does not *disallow* repeated keywords, I think.

A few ways I

[2017-03-10 17:36] mwcraig commented on #423
@boada @vrooje -- I *think* the underlying issue with these files is not simply that they are multi-extension FITS files (though support for those is still needed).

In the files from @vrooje, the keyword `OBSTYPE` shows up twice in the primary header, once with value `'OBJECT'` and again with value `1`. Base on @boada's comment https://github.com/astropy/ccdproc/issues/423#issuecomment-261351015

[2017-03-10 17:37] mwcraig commented on #464
@MSeifert04 welcome to the wonderful world of FITS, in which all that is not expressly forbidden is allowed, and someone somewhere will have done it (usually for a reason that made a lot of sense at the time). 😬

[2017-03-10 17:43] boada commented on #464
I know I haven't contributed much to this discussion after I pointed it out... but personally, I'd go with option number 2. It is still meaningful and provides a workaround for the user if they know what they are doing.

If there is still an interest, I bet I could find one of the files I was trying to use. I can probably strip out most of the target/personal info and make it available.

[2017-03-10 17:58] crawfordsm commented on #464
There are plenty of cases where a keyword will be repeated in MEF with a different value than in the header and very good cases for this (like the data is different than in the primary extension, which might not even have any data).  As such, and if the user is specifying an extension to use, I would suggest that in the case of duplicate keywords that the default behavior should raise a warning an

[2017-03-10 18:01] MSeifert04 commented on #464
is this about a duplicate keyword in the same header or a keyword that is present once in primary and once in the extension? And in the first case: How common are such files?

[2017-03-10 18:04] mwcraig commented on #464
This is about a duplicate keyword in a **single** extension.

The fact that it originally occurred in a MEF was just coincidence, I think.

The case of a keyword appearing in several extensions has a straightforward solution -- another column should be added to the summary table for the extension number (or name), thereby removing the ambiguity.

[2017-03-10 18:05] janga1997 commented on #464
@boada There is definitely interest. I've only tested @vrooje example files to find out that the problem is with `OBSTYPE`, but I would like a different file to be sure.

[2017-03-10 18:05] mwcraig commented on #464
@boada -- if you could confirm that `OBSTYPE` appears twice in the header of the first extension in  one of your files that would be great. Would confirm that the issue is the same...

[2017-03-10 18:09] MSeifert04 commented on #464
In general it should be really easy to check for duplicate keywords:

[code]

[2017-03-10 18:19] boada commented on #464
@mwcraig @janga1997 Here is the first two headers. I've pulled out all (hopefully) of the personal info. I don't think I am at liberty to just post the header not redacted.

SIMPLE  =                    T / File conforms to FITS standard
BITPIX  =                    8 / Bits per pixel (not used)
NAXIS   =                    0 / PHU contains no image matrix
EXTEND  =                    T / File con

[2017-03-10 18:22] boada commented on #464
@MSeifert04

`In [1]: from astropy.io import fits

In [2]: f = fits.open('image359290.fits')

In [3]: hdr = f[0].header

In [4]: from collections import Counter

In [5]: cnts = Counter(hdr.keys())
   ...: {key: n for key, n in cnts.items() if n >= 2}
   ...:
Out[5]: {'': 29, 'NOHS': 2}
`

[2017-03-10 18:27] janga1997 commented on #464
@MSeifert04 Shouldn't that be `len(n) > 2`

[2017-03-10 18:28] boada commented on #464
n is just an integer and doesn't have a length.

[2017-03-10 18:29] crawfordsm commented on #464
Sorry, for my confusion, but yes, the use case for same keyword appearing twice is a lot less obvious.   Actually, I can't think of a good one and it would appear in @boada case that it wasn't intentional.

If it is the same value appearing twice, I would probably go with the option of ignoring it (as in this case).

If it is a different value, I would probably go with the `astropy.io.fits` case o

[2017-03-10 18:32] MSeifert04 commented on #464
@janga1997 What do you mean? That `>= 2` is to ignore all keywords that appear only once.

👍

[2017-03-10 18:33] janga1997 commented on #464
@MSeifert04 Sorry for that comment, I didn't read yours properly before commenting.

[2017-03-10 18:33] vrooje commented on #464
I see the same keyword appearing twice a lot, especially with multiple uses of the `HISTORY` keyword, where there's one entry for each change that was made during data reduction, e.g. `overscan subtracted`, `debiasing completed`, `flat-fielded`, etc

Is that the kind of duplication we're talking about?

[2017-03-10 18:37] MSeifert04 commented on #464
@vrooje It's about duplicate keywords that are **not** `HISTORY` or `COMMENT`. These two already work correctly with `ImageFileCollection` and `astropy.io.fits`.

[2017-03-10 18:47] SaraOgaz commented on #464
@vrooje, more specifically, HISTORY and COMMENT are not "normal" keywords, per the FITS standard but are "Commentary keywords".  "Blank" keywords are also included as commentary keywords.

[2017-03-10 18:56] mwcraig commented on #464
The [astropy FITS documentation](http://astropy.readthedocs.io/en/stable/io/fits/usage/headers.html#comment-history-and-blank-keywords) says this:

So like @crawfordsm said, keep the first value, ignore the rest. Raising a warning seems like a good idea.

[2017-03-10 21:59] saimn commented on #464
@MSeifert04 : about https://github.com/astropy/ccdproc/issues/464#issuecomment-285732761, yes it's possible!
[code]
I must admit I didn't know this before looking at the "compressed header" issue (#5866) .
Oh, and from @mwcraig's comment above it's valid, FITS is so fun 😄

[2017-03-11 18:32] janga1997 commented on #464
@mwcraig @crawfordsm I would like to work on this issue. Have we reached a consensus on a solution for this issue?
That is , keeping the first value, ignoring the second, and raising a warning?

[2017-03-13 05:51] MSeifert04 commented on #464
@saimn Yeah, it's not only fun, it's also full of surprises 😄

[2017-03-13 16:56] MSeifert04 opened #468 "Test suite of ImageFileCollection uses non-existing header keywords"
While fixing #461 I noticed that the exceptions came because the keywords passed to the file collection and the ones present in the fits-file-headers differ. That lead to a number of subtle bugs (and a lot of warnings when manually executing them).

Maybe the tests (including those in the narrative documentation) should be updated to use actual present header pairs. It wouldn't hurt to have some t

[2017-03-14 04:29] MSeifert04 opened #470 "Add keywords.deleter for ImageFileCollection"
Currently the summary of a ImageFileCollection can be wiped by setting the keywords to None, however using `del xxx.keywords` fails because there is no deleter assigned to the property.

I think it would be a good idea to have that deleter for the keywords (and maybe deprecate the option to wipe the keywords by setting `xxx.keywords = None`, I mean it's also possible to almost wipe them when one u

[2017-03-14 18:09] MSeifert04 opened #471 "Representation for ImageFileCollection"
Currently `ImageFileCollection` lacks a `__repr__` method. However I'm not exactly sure what the representation should contain. Maybe just the directory, the number of files and the keywords (basically the inputs) or the whole `summary`?

[2017-03-15 14:19] mwcraig opened #472 "Remove dependency on conda-forge channel in CI"
As indicated in #466, we need to add conda-forge at least temporarily to get our tests passing. It would be nice to revert that eventually.

[2017-03-15 21:22] MSeifert04 commented on #468
Update: The `image-management`-doctests are currently skipped because of this.

[2017-03-16 09:53] janga1997 commented on #471
@MSeifert04 I would like to take this up.

Is that it, or do you have any more additions?

[2017-03-16 09:56] janga1997 commented on #470
@MSeifert04 I would like to take this up too.

[2017-03-16 09:57] MSeifert04 commented on #471
@janga1997 That's the difficult part here, I don't know. :)

[2017-03-16 10:24] MSeifert04 commented on #470
@janga1997 That would be great!

FYI: you don't need to ask for permission, if you feel confident that you can provide the feature and you have time to manage another PR then just go ahead and make a pull request.

[2017-03-16 10:31] janga1997 commented on #470
@MSeifert04 If we set `XXX.keywords = []`, `XXX.keywords` yields `['file']` instead of wiping them.

[2017-03-16 10:33] MSeifert04 commented on #470
@janga1997 Yes, that's why I said _almost_.

[2017-03-16 10:35] janga1997 commented on #470
@MSeifert04 Could you help out with that merge problems in the other PR?

[2017-03-16 11:20] janga1997 commented on #471
@MSeifert04 I think just printing the parameters on init should be fine. Because while we have a way to get the summary, we don't a way to currently print the parameters of initialization.

[2017-03-16 20:21] mwcraig commented on #471
I think going the with input is fine. That would be:

+ location
+ keywords passed in on initialization (I don't remember whether this is currently stored in the class, so a hidden attribute might need to be added to store it).
+ `filenames`, if that was not `None` when the object was created.
+ `info_file`, if that was not `None` when the object was created.

[2017-03-19 03:00] #464 closed

[2017-03-21 02:18] #470 closed

[2017-03-21 18:07] janga1997 commented on #468
@MSeifert04 Is this issue fixed? I've definitely clicked on it ten times, realizing every time you already made a PR.

[2017-03-21 18:17] MSeifert04 commented on #468
@janga1997 No it's not fixed. However it's quite an amount of work because changing tests is tricky. One has to assert for each affected test seperatly what it is doing. Sometimes it's easy because the test name is really descriptive and/or there is a comment in the test what is tested. Then after changing it one has to make sure the test is still testing the correct issue and covers the same code

[2017-03-21 18:44] #472 closed

[2017-03-28 13:44] bsipocz commented on #446
I've just revised my stand on this and moved the pycodestyle test out of the allowed failures in astroquery. Leaving it there just resulted in getting a messier code over time. With github now allowing maintainers to push directly to PR branches, we can easily help our new contributors when/if they are stuck due to the style errors.

[2017-03-28 13:51] MSeifert04 commented on #446
@bsipocz Could you have a look at #478 and check if what I did there is correct? I'm always suspicious if I need to change travis.yml in non-trivial ways.

[2017-03-28 18:25] bsipocz opened #479 "Add examples to ImageFileCollection docstrings"
There is no example section in the docstring of ImageFileCollection.hdus while there is reference to it. Even without the reference I think it would be very valuable to have basic examples for methods/functions in this package.

[code]

[2017-03-28 18:52] #446 closed

[2017-03-28 21:06] bsipocz opened #480 "methods of ImageFileCollection should accept multiple values for a keyword"
I was unable to find a way to filter out hdus in a one liner that has the object name as either “FLAT” or “DOME”. If would be rather nice to be able to specify a given keyword twice, or give a list or similar to it.

My current workaround is rather ugly:

[code]

[2017-03-29 13:44] bsipocz opened #481 "ImageFileCollection's methods to accept multiple word keywords"
Most of the data in ESO produced headers are stored in HIERARCH keywords with multiple words. Currently it’s not possible to provide these nicely as keywords for methods of ImageCollection.

My current workaround is to provide a dict with the keyword requirements and unpacking it at method call:

[code]

It would be nice to have be able to provide this dict directly via a keyword (e.g. kwd_dict=No

[2017-03-29 14:24] bsipocz commented on #480
A somewhat  related feature request is to have a way to use formal logic for the keyword value matching. E.g. have a generator for everything that is not a bias, or not 2x2 binning, etc.

(if you prefer to have singe requests per issues I can open another one).

[2017-04-09 23:21] MSeifert04 commented on #481
That's definetly annoying. But if one has to create the dictionary anyhow then a new parameter would be just a convenience to omit the unpacking (`**`). Also having a `kwd_dict` besides `kwd` and `ccd_kwargs` as parameters makes a function signature really confusing.

But it should be documented, I wonder where [the promised Examples](https://github.com/astropy/ccdproc/blob/master/ccdproc/image_co

[2017-04-11 17:46] crawfordsm opened #487 "reminder to add changes.rst"
Add #484  and adrn to change log and authors list.

[2017-04-17 17:10] #487 closed

[2017-04-17 17:57] mwcraig opened #489 "Set up astrobot to remind us about changelog entries and milestones"
We should use astrobot to check that PRs have a changelog and have been milestoned, as suggested by @bsipocz in #488.

[2017-04-20 08:56] ysBach opened #490 "Why do we need unit conversion to bias/flat before doing ccd_process?"
I have asked this to the "Python users in Astronomy" group page of FB and M. Durant and M. Craig kindly suggested me to open an issue here.

`ccdproc.ccd_process` takes the `master_bias` and `master_flat` in the unit of "after gain correction", which usually means "electron" unit. But the bias/flat I have is in ADU, which is usually the case, and of course the input image (`CCDData` object) is in

[2017-04-20 09:43] crawfordsm commented on #490
We do have the gain correction prior to the master bias subtraction step.   So, to subtract a master bias it must be in the same units as your gain correct image.   Currently, there are three steps that you can do:

1.  As @mwcraig suggested, you can gain correct your current master bias frames.

2.  When you process your bias frames, you can apply the gain correction to them as well.

3.  You can

[2017-04-21 03:37] ysBach commented on #490
Thanks for the reply :)

What I prefer is this:
I want `ccd_process` to be able to accept bias, flat, and object as ADU.

I can imagine like this:
`ccd_process` has an option like `gain_corrected=True` as default for backward compatibility.
If we put `gain_corrected=False`, then `ccd_process` understands that it has input of bias and flat in the unit of "before gain correction", not "after gain co

[2017-04-22 14:28] crawfordsm opened #492 "Migrate CCDData and ImageFileCollection to astropy?"
With the code freeze for the next LTS version of astropy coming up soon, I think it would be a good time to discuss the thought of migrating two of the more useful features of `ccdproc` into the core of astropy, so that they are long term available in the code.     So here are some thoughts on adding them as pro's and con's:

Migrating CCDData:
- PRO:  The API is stable and the object is fairly ma

[2017-04-25 18:19] #490 closed

[2017-04-27 11:15] ysBach opened #493 "ccdproc.combine input as numpy array"
[`ccdproc.combine`](http://ccdproc.readthedocs.io/en/stable/api/ccdproc.combine.html#ccdproc.combine) currently accepts `list` or `str`, not `numpy.ndarray`.

I guess it is also quite common to have the filename as `numpy.ndarray` format, e.g., if I read a file named "file.list" using `numpy.loadtxt`.

So I want to ask whether there's any reason for accepting only `list` or `str`, not `numpy.ndarr

[2017-04-27 11:33] MSeifert04 commented on #493
There are lots of unsupported formats: `numpy.loadtext`, `hdf5`, ...

`combine` is actually just a convenience function that supports FITS files and `CCDData` objects. It's likely noone had a use-case for `numpy.loadtxt` yet. If you don't need the chunked processing you can easily just pass in a list of `CCDData`:

[code]

[2017-04-27 20:13] crawfordsm commented on #493
@ysBach I have no objection to including it.  I'd encourage you to contribute it, and if you need any help, just let us know.

[2017-04-29 12:32] elmichelangelo opened #494 "Python 3.6 compatibility"
I want to install ccdproc and get the following error

[code]
astropy version: 1.3.2  np122py36_0
numpy version: 1.12.1 py36_0

[2017-04-29 12:47] MSeifert04 commented on #494
Ah thanks for spotting that. `ccdproc` is python 3.6 compatible but it's missing the builds for conda for python 3.6.

@mwcraig is there some package conflict?

[2017-05-04 23:47] bsipocz commented on #494
@MSeifert04 - There were some missing dependencies at the time, but now everything should be OK and the conda packages should be available in about an hour.

[2017-05-05 07:52] MSeifert04 commented on #494
@bsipocz Great, thank you!

[2017-05-05 07:52] #494 closed

[2017-05-06 08:54] elmichelangelo commented on #494
Thanks!

[2017-05-16 17:14] MSeifert04 opened #495 "Attributes of imagefilecollection"
There have been some new attributes `glob_include` and `glob_exclude` and maybe the `extension` attribute from #463 especially if #475 is merged.

[2017-05-16 17:24] mwcraig commented on #492
Agreed that we should migrate `CCDData`.

[2017-05-16 17:42] crawfordsm commented on #492
`ImageFileCollection` to be migrated as well, but not necessarily for 2.0

[2017-05-16 21:18] mwcraig opened #496 "Fix errors on cron builds against astropy master"
See, e.g., https://travis-ci.org/astropy/ccdproc/jobs/232954337#L635

Two things to fix (copied from that error log):

[code]

and

[code]

[2017-05-22 22:12] mwcraig commented on #471
Closed by #475

[2017-05-22 22:12] #471 closed

[2017-05-23 15:21] mwcraig opened #498 "Masking of file column in summary of ImageFileCollection is done improperly"
For an example of the failure, see [this travis log](https://travis-ci.org/astropy/ccdproc/jobs/235005606#L686).

The offending line from `image_collection.py` is this:

[code]

I'm honestly not sure why that ever worked, but it did until recently.

Fix incoming in #497.

[2017-05-23 15:52] #496 closed

[2017-05-23 15:52] #498 closed

[2017-05-28 00:43] ysBach opened #499 "Image Combine with wcs_project"
For simple and primitive image analysis, it is quite common to use script like
[code]

in IRAF (`fits.list` is the file containing the list of files), as explained [here](http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?imcombine). *I want to request some simple features based on the difference between IRAF and python*.

The only module similar to the above IRAF task is `wcs_project` of `ccdproc`, AFAI

[2017-05-28 09:38] ysBach opened #500 "Image Combine - sum"
Sometimes it is easier to combine the images as "sum", not just average/median combine.
Although this can sometimes be achieved by multiplying the number of images to the average combined image, it is not possible if many images have different sizes, etc.

So I want to suggest to implement an attribute to `Combiner`, such as `sum_combine`.

[2017-06-01 16:56] mwcraig commented on #500
@ysBach thanks for this and your suggestion in #499...and congrats for being the one to open our 500th issue! 🎉

[2017-06-01 18:18] MSeifert04 commented on #500
Thanks for reporting this. Just a question about the expected behaviour: Should it return the pure sum or the scaled sum? I'm asking because we allow masked arrays.

For example should: `[1, 1, -, 1, 1]` return `4` or `5` (the `-` represents a masked value)?

[2017-06-01 18:20] MSeifert04 commented on #499
As far as I remember IRAF just calculates the pixel offsets based on the WCS, it doesn't do a complete reprojection.

Should we implement the offset-approach or a reprojection approach?

[2017-06-01 21:06] #457 closed

[2017-06-04 08:43] ysBach commented on #499
@MSeifert04

Yeah, that was what I found from STScI manual after making this issue.

I don't think we have to choose either of them, but we can just have two options :).

When we combine ~ 100 images with `offset=wcs`, it's quite fast using IRAF, but it takes much time on `ccdproc`, due to the "complete reprojection". From my experience, primitive combine method of IRAF (calculate just pixel offse

[2017-06-04 08:51] ysBach commented on #500
@MSeifert04

Sorry for this delayed reply.

I guess `[1, 1, -, 1, 1]` means the pixel values of 5 different ccds at the same location given to the `Combiner` (and the third ccd has `mask` value of `True` at the given location).

Then I think `4` is the reasonable choice. A person would have given 5 masked arrays because it is better to ignore certain pixel value(s). And I also guess that is the wa

[2017-06-04 10:50] MSeifert04 opened #504 "Dropping support for astropy 1.0 (LTS)?"
In a few days/weeks astropy 2.0 will be released. It's labelled the "next" LTS and the support (bug fixes, etc.) for 1.0 (the current LTS) will be dropped.

Will `ccdproc` drop support for the astropy 1.0 LTS when 2.0 is released? If so, will there be another release before 1.0 support is dropped? If not, how long will `ccdproc` (roughly) support the 1.0 LTS?

[2017-06-04 21:40] mwcraig commented on #504
I'd lean towards dropping 1.x some reasonable amount of time (a month? maybe two?) after 2.0 is out. I'm thinking a new release by the end of the summer would make sense.

[2017-06-06 15:24] mwcraig commented on #493
Remilestoned, since we now have a PR to address this...thanks, @ysBach!

[2017-06-06 15:38] mwcraig commented on #374
What if, instead of switching based on image location, we do the Unix-y thing of using an absolute path if the filename starts with `/` but otherwise we use pre-pend location?

[2017-06-06 15:39] mwcraig commented on #357
Closing...

[2017-06-06 15:39] #357 closed

[2017-06-06 15:43] mwcraig commented on #63
Closing, as this proposed to provide the functionality now in astropy core.

[2017-06-06 15:43] #63 closed

[2017-06-06 19:31] crawfordsm commented on #423
Closing issue, but if the fixes do not address your needs, please re-open the issue.

[2017-06-06 19:31] #423 closed

[2017-06-06 19:35] crawfordsm commented on #389
Ability to handle bitmasks have been added to `ccdproc` have been added, but it still needs to be integrated to be used with `combiner`

[2017-06-08 10:12] #493 closed

[2017-06-08 19:43] MSeifert04 commented on #500
The average and median ignore masked pixels completly, so if `[1, 1, -, 1, 1]` is given then it's summed (4) and divided by the number of valid pixels (4) and gives 1. If the masked pixel is not ignored the number of pixels would be 5 and the result `0.8`.

I would define a `sum`-combine just as a `average`-combine that is multiplied by the number of images. So it would return `5`.

But that's alw

[2017-06-13 18:12] hletrd commented on #500
Implemented as pure sum in #508. (as imcombine in IRAF)

[2017-06-27 19:39] crawfordsm opened #510 "use astropy.nddata.CCDData"
For the next release, we should make sure to include the new astropy.nddata.CCDData to be used for ccdproc.CCDData

[2017-06-27 19:40] crawfordsm opened #511 "Clean up travis testing"
With the release of 1.3, we should review the libraries tested against and update them accordingly.

[2017-06-27 19:41] mwcraig commented on #492
`CCDData` is being added to astropy in 2.0.

[2017-06-27 19:41] crawfordsm commented on #504
When we make our next release, we will make sure it works with 1.0, but then drop testing on the 1.0 branch after release.

[2017-07-08 14:27] bsipocz commented on #504
As astropy 2.0 is release, the LTS from the point of view of ci-helpers is 2.0. If you want to keep testing against the 1.0 branch, you need to specify the version number in your travis file.

[2017-07-12 08:27] iskreng opened #514 "ccdproc not in macports"
Hi,

it seems that ccdproc is not available port in macports. Is there any plan to port it?

Cheers,
Iskren

[2017-07-13 16:30] mwcraig commented on #514
It would be great if it were ported, but none of the ccdproc maintainers uses mac ports. One potential hangup would be ccdproc's dependencies (e.g. astroscrappy, reproject) that are also not on macports...

[2017-07-18 17:07] #500 closed

[2017-07-18 17:16] mwcraig commented on #326
Will be fixed in 2.0LTS

[2017-07-18 17:16] #326 closed

[2017-07-18 17:22] mwcraig commented on #455
Needs to be fixed upstream

[2017-07-18 17:22] #455 closed

[2017-07-18 17:25] #360 closed

[2017-07-18 17:27] #236 closed

[2017-07-18 17:27] crawfordsm commented on #232
Fixed upstream and will be fixed once #510 is closed

[2017-07-18 17:30] mwcraig commented on #336
Closing, CCDData has now moved to astropy.nddata, please re-raise on the astropy/astropy if this is still an issue.

[2017-07-18 17:30] #336 closed

[2017-07-18 21:14] MSeifert04 opened #516 "Make the glob attributes for ImageFileCollection readonly?"
The `ImageFileCollection` has `glob_include` and `glob_exclude`. These are currently settable but they only take effect if one `refreshs` the instance. The `location`, `files` and `ext` attributes are readonly because they also would take effect only when refreshed.

Should the `glob_include/exclude` also be readonly?

[2017-08-08 20:37] SaraOgaz commented on #395
Any updates on this?  Looks like the linked stuff hasn't been touched in a while.  I wanted to double check there weren't some other solutions in other places...

[2017-08-09 17:37] #450 closed

[2017-08-13 21:34] mwcraig commented on #395
Short answer, no. I'd *really* like astrometry.net to work in astroquery, so if I have time this week I'll work on that.

[2017-08-13 22:44] bsipocz commented on #395
Hmm, that PR in astroquery is very much abandoned. However, if anyone is keen on picking it up, it shouldn't be too far from being finished.

[2017-08-13 22:51] mwcraig commented on #395
Yeah, I've had it open in a browser tab for ~1.5 months. Looks very close to done.

[2017-08-15 18:52] MSeifert04 commented on #511
Possible candidates for dropping after 1.3:

- Python 3.4
- NumPy 1.10
- astropy 1.0 and 1.3

[2017-08-15 18:55] MSeifert04 commented on #504
closed in favor of #511

[2017-08-15 18:55] #504 closed

[2017-08-15 19:00] #495 closed

[2017-08-15 19:00] MSeifert04 commented on #495
Fixed in #515

[2017-08-15 19:09] crawfordsm commented on #516
Yes, they should be readonly.

[2017-08-15 19:54] MSeifert04 commented on #489
How would we do that anyway? It probably requires some changes in the package settings and does the bot need instructions or is it based on fixed rules?

[2017-08-15 20:21] bsipocz commented on #489
The bot is a github app that you need to authenticate for each repo (to be more precise, I think it needs to be an org admin who authenticate it). It is static in the sense that you cannot customize it at the moment.

https://github.com/astropy/astropy-bot

[2017-08-18 00:12] MSeifert04 commented on #270
@crawfordsm I'm closing this because I guess that's fixed by #405. Feel free to reopen it if you think it's not adressed yet.

[2017-08-18 00:12] #270 closed

[2017-08-18 00:19] MSeifert04 commented on #159
I think this might have been fixed in #297?

[2017-08-18 02:24] #516 closed

[2017-08-18 02:32] mwcraig commented on #159
I think it is, closing...

[2017-08-18 02:32] #159 closed

[2017-08-29 23:14] MSeifert04 opened #540 "Small problem with fits_reader when primary extension had no data"
While investigating a Warning I found out that the way the header were combined wasn't exactly right.

I submitted a PR to astropy (https://github.com/astropy/astropy/pull/6489) and was wondering if it's worth it to also fix it in ccdproc.

Just a note: It wasn't a science image that triggered the warning - otherwise I would probably immediately also make the PR here - but just a FITS file I've wr

[2017-08-30 13:11] #540 closed

[2017-08-30 13:13] #510 closed

[2017-08-31 12:51] MSeifert04 commented on #479
I think this refers to the `files_filtered` docstring (which contains some examples). This would be fixed by the doc-changes in #539.

[2017-09-05 16:42] SaraOgaz opened #548 "release question"
I have sort of two questions.  When will 1.3 be released?  And is it "correct" that version 1.2 is not compatible with astropy 2.0?  I get this incompatibility when I try and upgrade to 2.0 through conda, astroscrappy apparently being used by ccdproc:

UnsatisfiableError: The following specifications were found to be in conflict:
  - astropy 2.0*
  - astroscrappy -> numpy 1.11*
Use "conda info <pa

[2017-09-05 17:16] MSeifert04 commented on #548
I don't think it's actually a problem with `ccdproc` because it's a pure Python package (except `ccdproc` wasn't build for your used python). It seems like `astroscrappy` and `astropy` conflict because of NumPy. What NumPy/Python are you using and which conda channels are enabled for you?

[2017-09-05 17:25] SaraOgaz commented on #548
I figured astroscrappy's numpy pin was the root of the problem, but I only need astroscrappy because it seems to be a ccdproc requirement, at least according to my conda...

For this particular issue I need to use the astroconda channel for most things (our STScI channel).  Currently in Python 2.7, numpy is 1.11 (not from astroconda channel, I think it's just from the default Anaconda).

When I tr

[2017-09-05 17:32] MSeifert04 commented on #548
hm, okay I don't know what's in your `STScI` channel, maybe you could run `conda search astroscrappy`? That normally lists the avaiable `astroscrappy` versions. However in the astropy channel there is astroscrappy built against NumPy 1.13 and Python 2.7, 3.5 and 3.6 so it should be available. Maybe the STScI channel needs new astroscrappy builds?!

[2017-09-05 17:34] SaraOgaz commented on #548
Huh, it says I'm getting astroscrappy from the astropy channel, let me mess around some more.

astroscrappy              1.0.5               np111py27_0    astropy

[2017-09-05 17:49] SaraOgaz commented on #548
Nvm, it was because i wasn't updating numpy in the meantime, now I'm having other problems that are just related to my old astroconda channel stuff.  I'm going to scrap this env and just start a new one.  Will probably close this issue here in  a second.  Thanks for the help @MSeifert04 !

[2017-09-05 17:53] #548 closed

[2017-09-05 18:18] MSeifert04 commented on #548
No problem. I hope `ccdproc` will still work with astropy 2.0 but we'll release ccdproc 1.3 soon-ish.

[2017-09-08 02:27] HojinCho opened #550 "Is there any way to control CCDData precision?"
I recently started using ccdproc, so I apology in advance if this question. So far I could not find any solution.

My raw ccd images are 2k by 2k with 16bit integer, taking up approximately 8.4 MB of space each. But if I add Uncertainty frame, do some cosmic ray rejection, and the size expands to ridiculously large amount as 69 MB per file, without any warning. I discovered this behaviour by accid

[2017-09-08 03:16] mwcraig commented on #550
Sorry about that...

I think you are right about the cause. Basically, as soon as any operation is done on the data it is converted to floating point, and the default floating point size in python in 64bit.

I do something similar when reducing, though it can be as short as one line. If you do this some time soon after creating the `CCDData` object:

`ccd.data = ccd.data.astype('float32')`

then a

[2017-09-09 18:21] HojinCho commented on #550
Thank you! I actually managed to get the datatype correct, along with `ccd.uncertainty.array = ccd.uncertainty.array.astype('float32')`.

Yesterday I got to discuss this issue with a friend of mine, who has been using `ccdproc` longer then myself. He reported that if the output is 64bit float, IRAF does not recognize it as a legitimate fits file.

Since the fix is not so intuitive and the conseque

[2017-09-12 05:20] MSeifert04 commented on #550
This is actually a problem that `ccdproc` inherits (to some extend) from NumPy. The problem here is that NumPy has specific casting rules, so if you have `float32` and add for example `int32` the result will be `float64`. I think that has to do with the fact that not all `int32` can be represented as `float32`:

[code]

It's helpful 99.99% of all cases and avoids really ugly overflow/underflow/pre

[2017-09-20 13:20] #481 closed

[2017-09-22 18:09] jvntra opened #555 "Indexing Convention?"
Have had issues with indexing conventions using ccdproc, namely with the use of `overscan_subtract` and `trim_image`. It'd be helpful to have further clarity on indexing using different tools in the documentation.

[2017-09-22 18:10] crawfordsm commented on #555
When you have time, can you give some more details about what you'd like to see more of?    Otherwise, we'll try to update the part of the docs with index information with more details.  Thanks for commenting!

[2017-09-22 21:26] crawfordsm opened #556 "Documentation notes"
Here are some documentation  notes/areas that could use improvement:

- the reduction tool box is given as a series of tasks but it might be useful to organize it so it is more of a tutorial
- our users may not be coming from a numpy/python background so expanding on ideas or proving better links to concepts like indices, pass by referencing, and masking may be helpful
- in README add links to ind

[2017-09-23 00:07] MSeifert04 commented on #555
I think it always follows the normal Python/NumPy style but I have been using Python for so long, I probably just don't know what "newcomer" problems might be.

If you could give some examples of "unexpected" or "intuitive" behaviors that would be very welcome. 👍

[2017-09-23 00:11] MSeifert04 commented on #556
I recently added the `ccdproc` tag to StackOverflow. I don't know if that's useful but it could be a good address for people trying to find help wrt to `ccdproc` that don't fit the astropy-mailing list or such like.